<div class="luxury-communities">
  <div class="container-fluid">
    <div class="list-filter-area">
      <div class="kendal-link"> <a href="http://www.kendal.ae">Kendal</a> </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="community-effect albarari wide">
        <div class="areas-shadow" ></div>
        <a class="community-link" href="community-detail.php">Al Barari</a>
        <div class="areas-content">
          <h1> Al Barari </h1>
          <div class="linksBtns">
            <div class="text" >Al Barari traditionally means 'wilderness', but to a distinguished few, it also spells a lifestyle of surreal magnificence in the heart of nature. Where exotic foliage and shimmering waterways embrace superbly appointed villas.</div>
            <a href="community-properties-list.php#buy">Property For Sale</a><a href="community-properties-list.php#rent">Property For Rent</a> </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="community-effect arabianranches narrow">
        <div class="areas-shadow" ></div>
        <a class="community-link" href="community-detail.php">Arabian Ranches</a>
        <div class="areas-content">
          <h1> Arabian Ranches</h1>
          <div class="linksBtns">
            <div class="text" >Arabian Ranches is a beautiful family orientated gated development, situated just off the Mohammed Bin Zayed Road. 
              The on-site facilities combined with the tranquil, picturesque surroundings really do give this development its deserved status in the Dubai market. </div>
            <a href="#buy">Property For Sale</a><a href="#rent">Property For Rent</a> </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6  col-md-4">
      <div class="community-effect downtowndubai narrow">
        <div class="areas-shadow" ></div>
        <a class="community-link" href="community-detail.php">Downtown Dubai</a>
        <div class="areas-content">
          <h1>Downtown Dubai </h1>
          <div class="linksBtns">
            <div class="text" >Downtown Dubai, home to the iconic Burj Khalifa; the tallest man-made structure in the world is a large-scale mixed-use complex located in the heart of Dubai.</div>
            <a href="#buy">Property For Sale</a><a href="#rent">Property For Rent</a> </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
      <div class="community-effect dubaimarina wide">
        <div class="areas-shadow" ></div>
        <a class="community-link" href="community-detail.php">Dubai Marina</a>
        <div class="areas-content">
          <h1>Dubai Marina</h1>
          <div class="linksBtns">
            <div class="text" >The Dubai Marina district, a highly urbanised development houses the largest man-made marina in the world. Dubai Marina which offers modern living parallel to the Arabian Gulf coast, is one of Dubai's most sought after communities.</div>
            <a href="#buy">Property For Sale</a><a href="#rent">Property For Rent</a> </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="community-effect emirateshills wide">
        <div class="areas-shadow" ></div>
        <a class="community-link" href="community-detail.php">Emirates Hills</a>
        <div class="areas-content">
          <h1>Emirates Hills</h1>
          <div class="linksBtns">
            <div class="text" >Emirates Hills is a prestigious gated community, a place of paramount wealth and beauty. Arguably the most exclusive community in the UAE, this luxury development offers large plots of land for the construction of homes by individual owners, making each property unique.</div>
            <a href="#buy">Property For Sale</a><a href="#rent">Property For Rent</a> </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="community-effect jge narrow">
        <div class="areas-shadow" ></div>
        <a class="community-link" href="community-detail.php">Jumeirah Golf Estates</a>
        <div class="areas-content">
          <h1> Jumeirah Golf Estates </h1>
          <div class="linksBtns">
            <div class="text" >Jumeirah Golf Estate is a perfect development for those who are seeking premium homes offering a unique living experience and a vibrant living environment. The community is carefully planned to meet the needs of any family.</div>
            <a href="#buy">Property For Sale</a><a href="#rent">Property For Rent</a> </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="community-effect jumeirahislands narrow">
        <div class="areas-shadow" ></div>
        <a class="community-link" href="community-detail.php">Jumeirah Islands</a>
        <div class="areas-content">
          <h1> Jumeirah Islands </h1>
          <div class="linksBtns">
            <div class="text" >Jumeirah Islands is a beautifully designed and exclusive self - contained complex. It consists of forty six small Islands or 'clusters'.
              Residents enjoy an idyllic and tranquil environment, which has been conscientiously landscaped to create a feeling of escapism and community.</div>
            <a href="#buy">Property For Sale</a><a href="#rent">Property For Rent</a> </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12  col-md-8">
      <div class="community-effect palmjumeirah wide">
        <div class="areas-shadow" ></div>
        <a class="community-link" href="community-detail.php">Palm Jumeirah</a>
        <div class="areas-content">
          <h1> Palm Jumeirah</h1>
          <div class="linksBtns">
            <div class="text" >The Palm Jumeirah is one of the most exclusive beachfront developments in the world and a hub for the rich and famous but is also a wonderful family friendly home for many.</div>
            <a href="#buy">Property For Sale</a><a href="#rent">Property For Rent</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>