@charset "UTF-8";

body { font-family: 'Open Sans', sans-serif; font-weight:400;  }
h1,h2,h3,h4,h3 { font-family: 'Muli', sans-serif; font-weight:300; }
a { font-family: 'Open Sans', sans-serif; font-weight:300;  }

#header{  position:fixed; height: 75px; display:block; width: 100%; z-index:10; text-align:center; color: #f2f2f2; padding: 0; background:url(../images/header_bg.png) left bottom repeat-x; top:0px;
	-webkit-transition: height 0.5s ease; -moz-transition: height 0.5s ease; -ms-transition: height 0.5s ease; 	-o-transition: height 0.5s ease;  transition: height 0.5s ease; }

.fp-viewing-0 #header { height:110px; }
.fp-viewing-0 #header .logo {   height:110px;    }
.fp-viewing-0 #header .logo a { display:block; margin:40px auto 0 auto; width:227px; height:40px; }
.fp-viewing-0 #header .logo a {-webkit-transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease; 	-moz-transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease; -ms-transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease; -o-transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease; transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease;}
.fp-viewing-0 #header .navbar { background:none; margin-bottom:0; margin-top:45px; height:61px;   }

#header .logo {  margin:0 auto; width:100%; position:fixed; top:0px;  height:44px; }
#header .logo a { display:block; margin:20px auto 0 auto; width:201px; height:35px; /*background:url(../images/Logo-Small.png) center center no-repeat; text-indent:-9999px; color:transparetn;*/}
#header .logo a {-webkit-transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease; 	-moz-transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease; -ms-transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease; -o-transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease; transition: width 0.5s ease, height 0.5s ease, margin 0.5s ease;}
#header .logo img { border:none; width:100% }

#header .navbar { background:none; margin-bottom:0; margin-top:26px; min-height:45px;   }
#header .navbar { -webkit-transition: margin-top 0.5s ease; 	-moz-transition: margin-top 0.5s ease; 	-ms-transition: margin-top 0.5s ease; 	-o-transition: margin-top 0.5s ease; 	transition: margin-top 0.5s ease; }
#header .navbar-default { background:none; border:none; border-radius:0; }
#header .navbar .container-fluid { padding:0;}
#header #navbar { float:left}
#header .navbar-left > li { padding:0 10px;}
#header .navbar-left > li > a {  padding:0 5px; border-bottom:transparent solid 2px;}
#header .navbar-nav > li > a { padding-top:0; padding-bottom:0; text-transform:uppercase; color:#5a5a5a; font-size:12px; font-weight:400}
#header .navbar-left > li > a:hover,
#header .navbar-default .navbar-nav > .active > a, #header .navbar-default .navbar-nav > .active > a:focus, #header .navbar-default .navbar-nav > .active > a:hover { background:none; border-bottom:#5a5a5a solid 2px}
#header .navbar-nav > .open >  a,
#header .navbar-default .navbar-nav > .open >  a, #header .navbar-default .navbar-nav > .open >   a:focus, #header .navbar-default .navbar-nav > .open >   a:hover { background:none !important; border-bottom:#5a5a5a solid 2px }

.drag { height:70px;  clear:both; display:none}


#header .navbar-right { margin-right:15px;}
#header .search_ico { display:inline-block; background:url(../images/search_ico.png) left center no-repeat; padding-left:20px; margin-right:10px;}
#header .login_ico {display:inline-block; background:url(../images/login_ico.png) left center no-repeat; padding-left:22px; margin-right:20px;  }
#header .call_ico {display:inline-block; background:url(../images/call_ico.png) left center no-repeat; padding-left:15px;}



.dropdown .dropdown-menu { margin:0; list-style:none; padding:0; margin-top:5px !important; background:#fafafa }
.dropdown .dropdown-menu > li { padding:0; }
.dropdown .dropdown-menu > li a { display:block; font-size:12px; text-transform:capitalize; font-family: 'Open Sans', sans-serif; font-weight:400; padding:4px 10px}
.dropdown .dropdown-menu > li a:hover { text-decoration:none; background:#eaeaea; }


#header .breadcrumb-area {  position:absolute; z-index:9;}
#header .breadcrumb-area ul.breadcrumb { margin:0; padding:0px;  background:none; text-align:left; margin-left:30px}
#header .breadcrumb-area ul li, #header .breadcrumb-area ul li a { color:#8f8f8f; font-style:italic; font-size:12px; text-decoration:none }

.search-container { display:none; 	background:url(../images/trans_bg.png) left top repeat; }
.search-container .container-fluid{  }
.search-boxes { margin:7px auto 5px auto;  font-family: 'Open Sans', sans-serif; font-weight:400;  }
.search-fileds { clear:both; width:100%;}
.search-fileds > div {  padding:5px;  }
.search-fileds > div > ul { list-style:none; padding:0px; margin:0px;}
.search-fileds > div > ul li { display:inline-block;  padding:0px; margin:0px;}

.search-fileds > div .btn { border-radius:0px; height:25px; padding:0px 5px 0px; font-size:12px;  } 
.search-fileds > div .btn-default:hover { background-color:#fff }
.search-fileds > div .form-control { border-radius:0px; height:25px;  box-shadow:none  }
.search-fileds > div input.form-control { border-radius:0px; height:25px; padding:0px 5px 0px; font-size:12px; box-shadow:none}
.search-fileds > div .btn-search { line-height:12px; font-family: 'Open Sans', sans-serif; font-weight:400;}
.search-fileds > div .btn-search .btn-ico { width:10px; height:11px; display:inline-block; margin-right:3px;}

.search-fileds > div .dropdown-menu { margin:0px; font-size:12px; padding:0px}
.search-fileds > div .dropdown-menu > li > a { padding: 5px 10px;}
.search-fileds > div .dropdown-menu > li > a.title, 
.search-fileds > div .dropdown-menu > li > a.title:hover, 
.search-fileds > div .dropdown-menu > li.selected a.title, 
.search-fileds > div .dropdown-menu > li.selected a.title:hover { background-color:#e6e6e6; color:#464646; cursor:default}

.search-refines{ min-height:20px;  width:390px; clear:both;  float:right; margin-right:0px;}
.search-refines > ul { list-style:none; padding:0px; margin:0px; text-align:right;  }
.search-refines > ul > li { display:inline-block; margin:2px 10px 2px 20px; padding:0px; font-size:12px;}
.search-refines > ul > li a { text-decoration:none; padding-right:14px; color:#333 }
.search-refines > ul > li:last-child { text-align:right; }
.search-refines > ul > li:last-child a { background:none; padding-right:5px;}

.search-refines .resutl-orderby { border:red solid 0px}
.search-refines .resutl-orderby .form-control{ height:inherit; background:none; box-shadow:none; border:none }
.search-refines .resutl-orderby .btn { background:none; box-shadow:none; border:none; outline:none}
.search-refines .resutl-orderby .btn .filter-option { margin-right:12px}
.search-refines .resutl-orderby .btn .caret { right:0px; background: url(../images/search-dwn-arr-grey.png) left top no-repeat !important }
.search-refines .dropdown .dropdown-narrow { padding:0px;}
.search-refines .resutl-orderby  .dropdown-menu { background:#e5e5e5; font-family: 'Open Sans', sans-serif; font-weight:400; font-size:12px; padding:2px }
.search-refines .resutl-orderby .dropdown-menu li a { padding-left:3px}
.search-refines .resutl-orderby .dropdown-menu li a:focus, .search-refines .resutl-orderby .dropdown-menu li a:hover { background:#cacaca}

.search-refines .dropdown > .dropdown-menu { /*right:25px;*/ left:inherit; }
.search-refines .dropdown > .dropdown-narrow {  min-width:70px; /*right:25px;*/ left:inherit; right:0px; text-align:center }
.search-refines .dropdown > .dropdown-narrow > li { text-align:left; width:100%; display:block }
.search-refines .dropdown > .dropdown-narrow > li > ul { padding:2px; margin:0px;}
.search-refines .dropdown > .dropdown-narrow > li > ul > li { display:block; padding:2px; width:100%; text-align:center }
.search-refines .dropdown > .dropdown-narrow > li > ul > li > a { color:#464646; display:block; padding:1px 3px;} 

.section .container-fluid { height:100%; position:relative; padding:0; }
.section .content  { width:80%; margin:0 auto;  }
.section .content h1 { text-align:left; font-size:18px; text-transform:uppercase; margin:10px 0;}
.section .content .text { text-align:justify; font-weight:300;}
.section .content .more { position:absolute; right:40px; bottom:40px; }
.section .content .more a { text-indent:-9999px; width:30px; height:30px; display:block; background:url(../images/right_arr.png) center -7px no-repeat;}
.section .content .more a:hover { background-position:center -42px}

.page0 { position:relative; background-size: cover; background-attachment: fixed; background-position:center center; background-image:url(../images/home_page1.jpg) }
.page0 > div { display:block;}
.page0 .kendal-link { width:40px; height:34px; background:url(../images/trans_bg.png) repeat; margin:120px 0 0 0;  
	-webkit-transition: width 0.5s ease; 	-moz-transition: width 0.5s ease; 	-ms-transition: width 0.5s ease; 	-o-transition: width 0.5s ease; 	transition: width 0.5s ease; }
.page0 .kendal-link:hover { width:120px}
.page0 .kendal-link a { display:block; width:100%; height:100%; background:url(../images/kendal-link.png) left top 4px no-repeat; text-indent:-9999px}
.page0 .kendal-link a:hover { background-position: left top -26px;}
.page0 .bottom-links { position:absolute; bottom:5%; width:100%; min-height:150px;}
.page0 .category-link { width:700px; margin:0 auto; min-height:34px;}
.page0 .category-link ul { margin:0; padding:0;}
.page0 .category-link ul li { text-align:center;  padding:0; overflow:hidden}
.page0 .category-link ul li a { text-transform:uppercase; font-size:20px; color:#5a5a5a; text-decoration:none; display:inline-block;}
.page0 .category-link ul li a:hover { font-weight:500;}
.page0 .category-link ul li > a > .current { height:5px; width:104%; margin-left:-2px }
.page0 .category-link ul li > a > .current > .menuline { background-color:#5a5a5a;  height:100%; width:0; margin:0 auto;
	-webkit-transition: width 0.5s ease; 	-moz-transition: width 0.5s ease; 	-ms-transition: width 0.5s ease; 	-o-transition: width 0.5s ease; 	transition: width 0.5s ease; }
.page0 .category-link ul li > a:hover > .current > .menuline { background-color:#5a5a5a;  height:100%; width:100%; 
	-webkit-transition: width 0.5s ease; 	-moz-transition: width 0.5s ease; 	-ms-transition: width 0.5s ease; 	-o-transition: width 0.5s ease; 	transition: width 0.5s ease;}
.page0 .category-link ul li:hover  .current > .menuline { background-color:#5a5a5a;  height:100%; width:100%; 
	-webkit-transition: width 0.5s ease; 	-moz-transition: width 0.5s ease; 	-ms-transition: width 0.5s ease; 	-o-transition: width 0.5s ease; 	transition: width 0.5s ease;}

.page0 .category-link  .sublinks {   margin-top:5px;  transform: translate3d(0px, 30px, 0px); transition: transform .5s ease-in-out; }
.page0 .category-link ul li:hover  .sublinks {   margin-top:5px; transform: translate3d(0px, 0px, 0px); transition: transform .5s ease-in-out;}
.page0 .category-link  .sublinks a { font-size:12px ; font-weight:normal;  padding:3px; width:80px;}
.page0 .category-link  .sublinks a:hover {}
.page0 .category-link  .sublinks a.buy { border-right:#5a5a5a solid 1px;}
.page0 .category-link  .sublinks a.rent { border:none}

.page0 .next-page-arr { width:36px; height:36px; margin:40px auto 0 auto; background:url(../images/next-page-arr.png) center top no-repeat; text-indent:-9999px; cursor:pointer;}	
.page0 .next-page-arr:hover { background-position:center -52px}	


.page1 { position:relative; }
.page1 > div { display:block;  }
.page1 .left, .page1 .right{  height:100%; padding:0; overflow:hidden}
.page1 .left .top { height:50%;  padding:0;}
.page1 .left  { background-size: cover; background-position:center center; background-image:url(../images/home_page2_img1.jpg) }
.page1 .left .top { background:#fff; display: flex;  align-items: center; position:absolute; top:0px;  }
.page1 .left .top { transform: translate3d(0px, -100%, 0px); transition: transform .5s ease-in-out; }
.page1 .left:hover .top { transform: translate3d(0px, 0px, 0px); }
.page1 .right .bottom { height:50%;  padding:0;}
.page1 .right { background-size: cover; background-position:center center; background-image:url(../images/home_page2_img2.jpg) }
.page1 .right .bottom { background:#fff; display: flex;  align-items: center; position:absolute; bottom:0px;  }
.page1 .right .bottom { transform: translate3d(0px, 100%, 0px); transition: transform .5s ease-in-out; }
.page1 .right:hover .bottom { transform: translate3d(0px, 0px, 0px); }


/*
.page2 { position:relative; }
.page2 > div { display:block;  }
.page2 .left, .page2 .right{  height:100%; padding:0;}
.page2 .left .top, .page2 .left .bottom { height:50%; padding:0;}
.page2 .right .top, .page2 .right .bottom { height:50%; padding:0;}
.page2 .left  { background-size: cover; background-position:center center; background-image:url(../images/home_page3_img1.jpg)}
.page2 .right  { background-size: cover; background-position:center center; background-image:url(../images/home_page3_img2.jpg) }
*/

.page2 { position:relative; }
.page2 > div { display:block;  }
.page2 .left, .page2 .right{  height:100%; padding:0;}
.page2 .left .top, .page2 .left .bottom { height:50%; padding:0;}
.page2 .left .top { background-size: cover; background-position:center center; background-image:url(../images/home_page3_img1.jpg)}
.page2 .right .top, .page2 .right .bottom { height:50%; padding:0;}
.page2 .right .bottom { background-size: cover; background-position:center center; background-image:url(../images/home_page3_img2.jpg) }
.page2 .left .bottom {  background:#fff; display: flex;  align-items: center; position:relative;}
.page2 .right .top { background:#fff; display: flex;  align-items: center; position:relative;}

.page3 { position:relative; background-size: cover;  background-position:center center; background-image:url(../images/home_page4.jpg) }
.page3 > div { }
.page3 .middle { height:100%; position:relative; display:flex; align-items:center;}
.page3 .middle .box { min-height:50%; width:50%; margin:0 auto; background:url(../images/trans_bg.png) center center repeat; position:relative;  display: flex;  align-items: center; }
.page3 .middle h1 { text-align:center; clear:both; float:none}
.page3 .middle .box .packages { text-align:center; display:block; margin:15px 0; min-height:50px;}
.page3 .middle .box ul li { text-align:center; }
.page3 .middle .box ul li img  { margin:5px 0;}
.page3 .middle .box ul li h3 { margin-bottom:15px;}
.page3 .middle .box .text { display:block; clear:both; float:none;}

.page4 { position:relative; background-size: cover;  background-position:center center; background-image:url(../images/home_page5.jpg) }
.page4 > div { }
.page4 .middle { height:100%; position:relative; }
.page4 .middle h1 { text-align:center; clear:both; float:none}
.page4 .middle .box {min-height:200px; width:60%; margin:0 auto; background:url(../images/trans_bg.png) center center repeat; position:relative;  display: flex;  align-items: center; margin-top: 150px;  }
.page4 .middle .box .list-property-btn {  text-align:center; margin:20px 0 0 0 }
.page4 .middle .box .list-property-btn a.linkbtn { width:100px; border:#5a5a5a solid 1px; margin:0 10px; padding:2px 25px; color:#000; font-size:13px; display:inline-block; text-decoration:none}
.page4 #footer { position: absolute; bottom:0px}
.page4 .footer-container { background:#fff; width:100%}

.footer-white .footer-container { background:#fff; width:100%}
.footer-container { background:#f2f2f2; width:100%}
.footer-container .row { margin:10px 0 20px 3%; }
.footer-container .row > li {  }
.footer-container h2 { font-size:12px; margin:20px 0; text-transform:uppercase;  font-family: 'Open Sans', sans-serif; font-weight:700; }
.footer-container h2 a{ font-size:12px; margin:20px 0; text-transform:uppercase;  font-family: 'Open Sans', sans-serif; font-weight:700 !important; text-decoration:none }
.footer-container ul { padding:0px; margin:0px; list-style:none; }
.footer-container ul > li { margin:5px 0px; padding:1px 0px; line-height:20px; font-size:12px; }
.footer-container ul > li:last-child { background:none !important}
.footer-container ul > li > h2 >a{ font-size: 18px;}
.footer-container ul > li a { font-size:14px; color:#5a5a5a;  font-family: 'Open Sans', sans-serif; font-weight:500; text-decoration:none}
.footer-container ul > li a:hover {/*text-decoration:none;*/}
.footer-container ul > li a span { margin:0 0 0 0; padding:0px; 	line-height:20px;  }
.footer-container .tel-ico 	 { 	width:20px; height:20px; display:inline-block; background:url(../images/tele-fax-icon.png) 0px -3px no-repeat	}
.footer-container .mob-ico 	 { 	width:20px; height:20px; display:inline-block; background:url(../images/tele-fax-icon.png) 0px -93px no-repeat	}
.footer-container .fax-ico 	 { 	width:20px; height:20px; display:inline-block; background:url(../images/tele-fax-icon.png) 0px -26px no-repeat}
.footer-container .email-ico   { 	width:20px; height:20px; display:inline-block; background:url(../images/tele-fax-icon.png) 0px -51px no-repeat	}
.footer-container .social-links  { text-align:center; margin:0 0 20px}
.footer-container .social-links ul li { display:inline-block; margin:0 4px;}
.footer-container .social-links ul li span { width:20px; height:20px; display:inline-block}
.footer-container .social-links a span {}
.footer-container .social-links a .twitterIco { background:url(../images/social_ico.png) -2px -2px no-repeat;}
.footer-container .social-links a .facebookIco { background:url(../images/social_ico.png) -22px -2px no-repeat;}
.footer-container .social-links a .linkedinIco { background:url(../images/social_ico.png) -42px -2px no-repeat;}
.footer-container .social-links a .googleIco { background:url(../images/social_ico.png) -66px -2px no-repeat;}
.footer-container .social-links a .blogIco { background:url(../images/social_ico.png) -90px -2px no-repeat;}
.footer-container .social-links a .printerestIco { background:url(../images/social_ico.png) -112px -2px no-repeat;}
.footer-container .social-links a .instagramIco { background:url(../images/social_ico.png) -134px -2px no-repeat;}
.footer-container .social-links a .youtubeIco { background:url(../images/social_ico.png) -156px -2px no-repeat;}
.footer-container .social-links a:hover .twitterIco { background-position: -2px -25px;}
.footer-container .social-links a:hover .facebookIco { background-position:  -22px -25px;}
.footer-container .social-links a:hover .linkedinIco { background-position:  -42px -25px;}
.footer-container .social-links a:hover .googleIco { background-position:  -66px -25px;}
.footer-container .social-links a:hover .blogIco { background-position:  -90px -25px;}
.footer-container .social-links a:hover .printerestIco { background-position:  -112px -25px;}
.footer-container .social-links a:hover .instagramIco { background-position:  -134px -25px;}
.footer-container .social-links a:hover .youtubeIco { background-position:  -156px -25px;}




/*.section .content-slide { height:100%; }
.section .content-slide .slide { padding-top:90px  }
.section .content-slide .slide div { display:block}
.section .content-slide .slide .slide-item { width:80%;  margin:3% auto; height:30%; display: flex;  align-items: center}
.section .content h1 { text-align:left; font-size:18px; text-transform:uppercase; margin-bottom:10px;}
.section .fp-controlArrow.fp-prev { display:none}
.section .fp-controlArrow.fp-next { width:44px; height:44px; border:none; margin-top:-66px; background:url(../images/right_arr.png) center center no-repeat}
*/




.modal-dialog{ width:450px; }
.modal-dialog { margin:10% auto; border-radius:0 ; } 
.modal-content { background:#f2f2f2; color:#5a5a5a;  border-radius:0 ;}
.modal-header { border:none; text-align:center; padding:0px;}
.modal-header > .close { width:15px; height:15px;  opacity:1; font-weight:700; font-size:23px !important; color:#000; padding:0px; margin:0px 5px 0px 0px; outline:none; text-shadow:none !important}
.modal-title { font-family: 'Muli', sans-serif; font-weight:300; font-size:22px; margin:20px 0}
.modal-body { padding:5px 12px}
.modal-footer { border:none; padding:10px 10px 10px 10px;}
.modal-footer .btn-default { background:none; border:#000 solid 1px; border-radius:0; padding:2px 35px !important; color:#5a5a5a; font-family: 'Maven Pro', sans-serif; font-weight:400; margin-bottom:2px; font-size:14px}
.modal-footer .lnkBtn { background:none; border:#000 solid 1px; padding:3px 35px 4px!important; color:#5a5a5a; text-decoration:none; font-size:14px; font-family: 'Maven Pro', sans-serif; font-weight:400; border-radius:0;}


.modal-body .agent-details { text-align:center; padding:0px 0; margin:0px;}
.modal-body .agent-details table{ padding:0px; margin:0px; font-family: 'Open Sans', sans-serif; font-weight:300; width:100%; border:0;}
.modal-body .agent-details div {  font-family: 'Open Sans', sans-serif; font-weight:300; margin:0 15px 0 0;   }
.modal-body .agent-pic{ }
.modal-body .agent-name{ font-size:16px; font-weight:400 !important }
.modal-body .agent-number{ font-size:16px }
.modal-body .agent-email{ font-size:16px }
.modal-body .popup-form { padding:0px 0px}
.modal-body .popup-form ul { list-style:none; margin:0px; padding:0px;}
.modal-body .popup-form ul li { margin:10px 0 0px}
.modal-body .popup-form ul li > .form-group { margin-bottom:10px}
.modal-body .popup-form ul li ul li{ margin:5px 0}
.modal-body .popup-form input, .modal-body .popup-form textarea{ background:#f2f2f2; border:#000 solid 1px; color:#5a5a5a; border-radius:0;}
.modal-body .popup-form textarea { min-height:100px !important}
.modal-body .popup-form input::-webkit-input-placeholder, .modal-body .popup-form textarea::-webkit-input-placeholder { color: #5a5a5a !important; }
.modal-body .popup-form input:-moz-placeholder, .modal-body .popup-form textarea:-moz-placeholder { /* FF 4-18 */ color: #5a5a5a !important; }
.modal-body .popup-form input::-moz-placeholder, .modal-body .popup-form textarea::-moz-placeholder { /* FF 19+ */ color: #5a5a5a !important; }
.modal-body .popup-form input:-ms-input-placeholder, .modal-body .popup-form textarea:-ms-input-placeholder { /* IE 10+ */ color: #5a5a5a !important; }
.modal-body .popup-form ul li.telephone  { clear:both; height:34px; }
.modal-body .popup-form ul li .country {width:34%; float:left}
.modal-body .popup-form ul li .phone {width:64%; float:right}
.modal-body .popup-form ul li.telephone .btn-default { background:#f2f2f2; border:#000 solid 1px; border-radius:0; color:#5a5a5a; padding:6px 12px !important; height:34px; font-family: 'Open Sans', sans-serif; font-weight:400; font-size:14px !important; box-shadow:none}
.modal-body .popup-form ul li.telephone .btn-default .caret { background:url(../images/popup-sel-arr.png) right -10px no-repeat; width:11px; height:8px; right:6px;}
.modal-body .popup-form ul li.telephone .dropdown-menu { margin-top:0px; padding:0px;}

.modal-body .share-detail {}
.modal-body .share-detail table { width:100%; padding:0; margin:0; border:0}
.modal-body .share-detail table td { padding:10px; }
.modal-body .share-detail table td a { display:block;}
.modal-body .share-detail span { width:42px; height:42px; display:inline-block; }
.modal-body .share-detail span.share-twt { background:url(../images/share-icons.png) -2px -2px no-repeat;}
.modal-body .share-detail span.share-fb { background:url(../images/share-icons.png) -45px -2px no-repeat;}
.modal-body .share-detail span.share-ln { background:url(../images/share-icons.png) -89px -2px no-repeat;}
.modal-body .share-detail a:hover span.share-twt { background:url(../images/share-icons.png) -2px -52px no-repeat;}
.modal-body .share-detail a:hover span.share-fb { background:url(../images/share-icons.png) -45px -52px no-repeat;}
.modal-body .share-detail a:hover span.share-ln { background:url(../images/share-icons.png) -89px -52px no-repeat;}
.modal-body .share-detail .share-twt-td { text-align:right}
.modal-body .share-detail .share-fb-td { text-align:center}
.modal-body .share-detail .share-ln-td { text-align:left}



.loginPopup {}
.loginPopup .forgotPassLnk {  text-align:right;}
.loginPopup .forgotPassLnk a{ color:#5a5a5a; font-size:12px; font-style:italic}




/* Validation error style */

.has-error .control-label, .has-error .help-block, .has-error .form-control-feedback { color: #5a5a5a; }
.has-success .control-label, .has-success .help-block, .has-success .form-control-feedback { color: #5a5a5a; }


@media (max-width:1599px) { 
	
}

@media  (max-width:1399px) { 
	
}

@media  (max-width:1199px) { 
	
}

@media  (max-width:991px) { 

.navbar-collapse { padding-left:0; padding-right:0;}
#header .navbar-left > li { padding:0 3px;}
#header .navbar-right { margin-right:5px !important;}
#header .navbar-nav > li > a { padding-right:0px !important;}
.footer-container .row { margin:10px 0 20px 2%; }
.footer-container .row > li { margin-left:0; }
	
}

@media (max-width:767px), only screen and (max-device-width:767px) { 

.fp-viewing-0 #header, #header { height:75px; }
.fp-viewing-0 #header .logo, #header .logo { width:227px; height:70px;}
.fp-viewing-0 #header .logo a, #header .logo a  {  margin:26px 0 0 10px;  width:180px; height:32px; }
.fp-viewing-0 #header .navbar, #header .navbar { height:72px; margin:0; }

#header #navbar { float:none;  margin-top:-5px; }
#header .navbar-left {  position:relative; z-index:10; } 
#header .navbar-right { position:absolute; top:12px; right:50px; }
#header .navbar-right li { display:inline-block;  width:25px; height:30px; margin:0 3px }
#header .navbar-header { height:75px; }

#header .navbar-toggle { margin:18px 25px 0 0; }
.search-boxes { z-index:8; position:relative;}

#header .search_ico { display:inline-block; width:25px; height:30px; padding:0px; background:url(../images/search_ico.png) left 8px center no-repeat;  text-indent:-9999px; outline:none; }
#header .login_ico { display:inline-block; width:25px; height:30px; padding:0px; background:url(../images/login_ico.png) left 8px center no-repeat;  text-indent:-9999px;  outline:none; }
#header .call_ico { display:inline-block; width:25px; height:30px; padding:0px; background:url(../images/call_ico.png) left 8px center no-repeat;text-indent:-9999px;outline:none; }

#header .navbar-collapse .navbar-nav { margin-top:0px; background:#fafafa url(../images/trans_bg.png) left top repeat; padding:2px 0; }
#header .navbar-collapse .navbar-nav li a{ padding:8px 0;}
#header .navbar-collapse .navbar-nav li a:hover, #header .navbar-collapse .navbar-nav > .active > a, #header .navbar-collapse .navbar-nav > .active > a:focus, #header .navbar-collapse .navbar-nav .active > a:hover { background:#eaeaea;}

#header .breadcrumb-area { display:none}
#header .dropdown .dropdown-menu { display:none; visibility:hidden;}

.page0 .kendal-link { margin-top:80px; }
.page0 .bottom-links { min-height:75px; }
.page0 .category-link { width:90%; }
.page0 .category-link ul li a { font-size:14px; }

.page0 .category-link  .sublinks {     transform: translate3d(0px, 50px, 0px); transition: transform .5s ease-in-out; }
.page0 .category-link ul li:hover  .sublinks {   transform: translate3d(0px, 0px, 0px); transition: transform .5s ease-in-out;}
.page0 .category-link  .sublinks a.buy { border:none; border-bottom:#5a5a5a solid 1px;}


.page1 .left, .page1 .right{  height:50%; padding:0; overflow:hidden}
.page1 .left .top, .page1 .left:hover .top { transform: translate3d(0px, 100%, 0px); height:50%; width:100%  }
.page1 .right .bottom, .page1 .right:hover .bottom  { transform: translate3d(0px, 0px, 0px);  height:50%; width:100% }
.page1 .left .top .content, .page1 .right .bottom  .content { padding:10px 0; } 
.page1 .left .top .content  .text, .page1 .right .bottom  .content .text { border:red solid 1px; display:none}
.page1  .content .more, .page2  .content .more, .page3  .content .more { position:absolute; right:40px; bottom:5px; }


.page2 .left, .page2 .right{  height:50%; padding:0; overflow:hidden}
.page2 .left .top, .page2 .left .bottom {  height:50%; width:100%  }
.page2 .right .top, .page2 .right .bottom {  height:50%; width:100%  }
.page2 .left .content  .text, .page2 .right .content .text { border:red solid 1px; display:none}
.page2 .right .top  { position:absolute; bottom:0; }
.page2 .right .bottom { position:absolute; top:0;  }

.page3 .middle { display:block;}
.page3 .middle .box {  margin-top:100px; min-height:60%; width:95%; padding:15px 0; }
.page3 .middle .box .content { width:90%;}
.page3 .middle .box ul li img { width:100%;}
.page4 .middle { display:block;}
.page4 .middle .box { margin-top:100px; min-height:40%; width:95%; padding:15px 0; }

.footer-container .row > li { margin:0px; padding:0px; text-align:center;}
.footer-container .row > li h2 { margin:0px; padding:5px 0; text-align:center; font-weight:normal;}
.footer-container .row > li h2 a { font-weight:normal;}
.footer-container .row > li ul { display:none; }

.modal-dialog { margin:20% auto !important; width:90% !important; }
.modal-body .agent-name{ font-size:15px; font-weight:400 !important }
.modal-body .agent-number{ font-size:14px }
.modal-body .agent-email{ font-size:14px }


}

@media (max-width:480px) {


}


