@charset "UTF-8";

.wrapper .search-container { display:none; }
.wrapper .top_search { display:none; }
.wrapper .search-container {  margin-top:3px;}
.wrapper-open .search-container { display:block; /*background:#f5f5f5;*/ margin-top:6px;}
.wrapper-open #header, .wrapper-open .search-container{ background-color:#e1e1e1  }

#header{  background: url(../images/header_bg.png) left bottom repeat-x; }
#header .logo {   height:75px;    }
#header .logo a { display:block; margin:20px auto 0 auto; width:227px; height:40px; }
#header .navbar { min-height:42px;}

.top_menu { clear:both; height:75px;  }
.top_search { height:70px;  clear:both;}
.drag { height:70px;  clear:both; display:none}

.luxury-listings {   margin-top:10px; border-bottom: 1px #000 solid }
.container-fluid { padding:0 5px;}

.kendal-link { width:40px; height:34px; background:url(../images/trans_bg.png) repeat; margin:0; float:left;   
	-webkit-transition: width 0.5s ease; 	-moz-transition: width 0.5s ease; 	-ms-transition: width 0.5s ease; 	-o-transition: width 0.5s ease; 	transition: width 0.5s ease; }
.kendal-link:hover { width:120px}
.kendal-link a { display:block; width:100%; height:100%; background:url(../images/kendal-link.png) left top 4px no-repeat; text-indent:-9999px}
.kendal-link a:hover { background-position: left top -26px;}




.full-bg { background-size: cover; background-position:center center; min-height:800px; }
.full-bg .middle { height:100%; position:relative; display:flex; align-items:center;}
.full-bg .middle h1 { text-align:center; clear:both; float:none; font-size:18px; margin:5px; }
.full-bg .middle h2 { text-align:center; clear:both; float:none; font-size:14px; margin:15px 0; }
.full-bg .middle .box { min-height:200px; width:1024px; margin:0 auto; padding:15px; background:url(../images/trans_bg.png) center center repeat; position:relative;  display: flex;  align-items: center;  }
.full-bg .middle .box .content { text-align:justify; margin:5px auto 5px;}
.full-bg .middle .box .content p { margin:0 0 5px 0; font-weight:300}
.full-bg .middle .box .list-property-btn {  text-align:center; margin:20px 0 0 0 }
.full-bg .middle .box .list-property-btn a.linkbtn { width:120px; border:#5a5a5a solid 1px; margin:0 10px; padding:2px 25px; color:#000; font-size:13px; display:inline-block; text-decoration:none}
.full-bg #footer { position: absolute; bottom:0px}
.full-bg .footer-container { background:#f2f2f2; width:100%}
.full-bg .kendal-link { width:40px; height:34px; background:url(../images/trans_bg.png) repeat; margin:100px 0 0 0;  }
.full-bg .kendal-link:hover { width:120px}



.error-bg { background-image:url(../images/error_bg.jpg); }
.error-bg > .container-fluid { height:100%; padding:15% 0}
.move-inout-bg { background-image:url(../images/move_inout_bg.jpg); }
.move-inout-bg > .container-fluid { height:100%; padding:10% 0}
.move-inout-bg h1 { text-transform:uppercase; padding-bottom:10px}
.move-inout-bg .middle .box { padding:20px 30px;}
.move-inout-bg .middle .box .packages { text-align:center; display:block; margin:25px 0; min-height:50px;}
.move-inout-bg .middle .box ul li { text-align:center; }
.move-inout-bg .middle .box ul li img  { margin:5px 0;}
.move-inout-bg .middle .box ul li h3 { margin-bottom:15px;}
.move-inout-bg .middle .box .text { display:block; clear:both; float:none;}
.move-inout-bg .move-links {  min-height:32px; margin:0 0 3% 0;  }
.move-inout-bg .move-links .container { width:90%; margin:0 auto 0;   }
.move-inout-bg .move-links ul { list-style:none; text-align:center; padding:0px; margin:0px;}
.move-inout-bg .move-links ul li { display:inline-block; border:#000 solid 0px; width:170px}
.move-inout-bg .move-links ul li a { display:block; padding:5px 10px; text-decoration:none; background:#f2f2f2; color:#5a5a5a; outline:none; font-family: 'Maven Pro', sans-serif;  font-weight:400; font-size:15px; }
.move-inout-bg .move-links ul li a:hover, .move-inout-bg ul li a.active  { background:#5a5a5a; color:#fff }



.luxury-pages {  }
.lux-page-banner { height:530px; position:relative; background-size: cover; background-position:center center; margin-bottom:5px}
.lux-page-banner { -webkit-transition: height 0.5s ease; -moz-transition: height 0.5s ease; -ms-transition: height 0.5s ease; 	-o-transition: height 0.5s ease;  transition: height 0.5s ease; }
.lux-page-banner .kendal-link, .lux-property-banner .kendal-link { width:40px; height:34px; background:url(../images/trans_bg.png) repeat; margin:100px 0 0 0;  }
.lux-page-banner .kendal-link:hover, .lux-property-banner .kendal-link:hover { width:120px}
.lux-page-banner .kendal-link a, .lux-property-banner .kendal-link a { background-position:left top 4px ;}
.lux-page-banner .kendal-link a:hover, .lux-property-banner .kendal-link a:hover { background-position: left top -26px;}

.luxury-pages .page-title { position:absolute; bottom:10px; background:url(../images/trans_bg.png) repeat; width:100%; padding:20px 20px; }
.luxury-pages .page-title h1 { text-transform:uppercase; color:#5a5a5a; font-size:24px}

.lux-apart-bnr 		{ background-image:url(../images/apartmne_bnr.jpg); }
.lux-villa-bnr 		{ background-image:url(../images/apartmne_bnr.jpg); }
.lux-penthouse-bnr 	{ background-image:url(../images/apartmne_bnr.jpg); }
.lux-portfolio-bnr 	{ background-image:url(../images/luxury_portfolio.jpg); }

.luxury-portfolio { color:#5a5a5a}
.luxury-portfolio > .container-fluid { padding:0;}
.luxury-portfolio .white-box { padding:30px; text-align:center}
.luxury-portfolio .white-box h1 { font-size:22px; color:#5a5a5a; font-weight:400; text-transform:uppercase; margin:20px 0;}
.luxury-portfolio .white-box .text { font-weight:300; text-align:justify; margin:20px 0; clear:both}
.luxury-portfolio .middle-box { height:1100px; background:#f3f3f3;  -webkit-transition: height 0.5s ease; -moz-transition: height 0.5s ease; -ms-transition: height 0.5s ease; -o-transition: height 0.5s ease;  transition: height 0.5s ease;}
.luxury-portfolio .middle-box .left,
.luxury-portfolio .middle-box .right { height:100%; padding:0;}
.luxury-portfolio .middle-box .left .top, .luxury-portfolio .middle-box .left .bottom {  height:50%}
.luxury-portfolio .middle-box .right .top, .luxury-portfolio .middle-box .right .bottom  {  height:50%}
.luxury-portfolio .middle-box .left .bottom , .luxury-portfolio .middle-box .right .top { display: flex;  align-items: center; }
.luxury-portfolio .middle-box .left .top {  background:url(../images/portfolio_left.jpg) center center no-repeat; background-size: cover}
.luxury-portfolio .middle-box .right .bottom { background:url(../images/portfolio_right.jpg) center center no-repeat;  background-size: cover}
.luxury-portfolio .middle-box .content { width:85%; margin:0 auto}
.luxury-portfolio .middle-box .content .text { font-weight:300; text-align:justify}

.luxury-portfolio .specialities { clear:both; margin:30px 0;}
.luxury-portfolio .specialities ul { width:60%; margin:0 auto }
.luxury-portfolio .specialities h3 { margin:10px 0 ;}


/*- Luxury Listings filter  -------------------------------------------------*/
.list-filter-area {  height:32px; padding:0 5px; }
.list-filter-area .list-order-by { width:200px;  float:right }
.list-filter-area .list-order-by .form-control .title { cursor:default; font-family: 'Open Sans', sans-serif; font-weight:400;}
.list-filter-area .list-order-by .filter-option { font-family: 'Open Sans', sans-serif; font-weight:400; font-size:12px; padding-top:2px;}
.list-filter-area .list-order-by .form-control { height:28px;}
.list-filter-area .list-order-by .btn-default { height:28px;  border-color:#464646; z-index:0; padding:0 5px !important; border-radius:0 }
.list-filter-area .list-order-by .btn-default:hover, 
.list-filter-area .list-order-by .btn-default.active, 
.list-filter-area .list-order-by .btn-default:active, 
.list-filter-area .list-order-by .open > .dropdown-toggle.btn-default { background-color:#fff; border-color:#464646;  box-shadow:none; }
.list-filter-area .list-order-by .dropdown-menu { margin:0px; box-shadow:none;  font-size:12px; border-radius:0 }
.list-filter-area .dropdown-toggle:focus { background:none; outline:none;}

/*- Luxury Property Listings  -------------------------------------------------*/
.listings {  margin-top:5px; float:left; clear:both; width:100% }
.listings .grid-group-style { }
.listings .grid-group-style > li {  min-height:200px; padding:0 5px; margin-bottom:10px; }
.listings .list { margin: 0;position:relative}
.listings .list .detail-link { display:none;}
.listings .list img { width:100%; border:0; display: block; position: relative; min-height: 350px}
.listings .list .list-details { min-height:70px; position:relative; bottom:0px; width:100%; background:#f3f3f3; padding:10px; font-family: 'Open Sans', sans-serif; font-weight:300;}
.listings .list .list-details > h1{ font-size:16px; color:#5a5a5a; text-transform:uppercase; text-align:left; font-family: 'Open Sans', sans-serif; font-weight: 500; margin-bottom: 40px;}
.listings .list .list-details > h2{ font-size:16px; color:#5a5a5a; text-transform:uppercase; text-align:left; position:absolute; left:10px; bottom:10px; font-family: 'Open Sans', sans-serif; font-weight:400;padding:0px 0 0px 1px;}
.listings .list .list-details > ul{ position:absolute; padding:0px; margin:0px; right:10px; bottom:4px; color:#5a5a5a; list-style:none; }
.listings .list .list-details > ul li{  display:inline-block; padding:0px; margin:0px 0px 2px 15px; font-size:16px}
.listings .list .list-details > ul li.bedrooms{ background:url(../images/bed-sm.png) left 6px no-repeat;  padding:0px 0 0px 20px;}
.listings .list .list-details > ul li.bathrooms{ background:url(../images/bath-sm.png) left 6px no-repeat;  padding:0px 0 0px 20px;}
.listings .list .featured-tag { position:absolute; top:20px; left:-3px;  padding:6px 0 6px 15px; width:190px; z-index:1; background:url(../images/exclusive_tag_bg.png) left center no-repeat;}

.listings  .list_full_detail {	position: absolute;	top: 0;	left: 0; padding: 20px;	background: #fafafa	; color: #5a5a5a; width:100%; height:100%; display:flex; align-items: center;}
.listings  .list-data {  width:100%;}
.listings  .list-data h3 {	margin: 0;	padding: 0;	color: #fff;}
.listings  .list-data span:before {	content: '';}
.listings  .list-data a {	text-align: center;	padding: 5px 10px;	border-radius: 0px;	display: inline-block;	background: #f3f3f3; color: #fff;}

.listings .list-data .pid { color:#000; margin-bottom:5%;}
.listings .list-data ul { width:80%; margin:0 auto; padding:0px; }
.listings .list-data ul li{ width:32%; text-align:center; margin:0px; padding:2px 0px; color:#000; display:inline-block; }
.listings .list-data ul li.bedrooms{ background:url(../images/bed-md.png) center center no-repeat;	}
.listings .list-data ul li.bathrooms{ background:url(../images/bath-md.png) center center no-repeat;	}
.listings .list-data .bed-bath-bua {color:#fff; margin-top:4%}
.listings .list-data .area-dev {color:#000;  text-align:center; text-transform:uppercase; margin-top:9%; font-size:16px}
.listings .list-data .linksBtns { text-align:center; margin-top:10%; padding:0px; }
.listings .list-data .linksBtns a { color:#000; text-decoration:none; font-family: 'Maven Pro', sans-serif; font-weight:300; font-size:15px; padding:3px 30px; width:140px;  text-align:center; border:#000 solid 1px; margin:0 15px;}
.listings .list-data .linksBtns a:hover { color:#fff; background:#5a5a5a;  border:#5a5a5b solid 1px; margin:0 15px;}

.listings  li .list_full_detail {opacity: 0;  -webkit-transition: -webkit-transform 0s, opacity 0.5s; -moz-transition: -moz-transform 0s, opacity 0.5s; transition: transform 0s, opacity 0.5s;}
.listings  li:hover .list_full_detail { opacity: 1;  -webkit-transition: -webkit-transform 0s, opacity 0.6s; -moz-transition: -moz-transform 0s, opacity 0.6s; transition: transform 0s, opacity 0.6s;}

.listings .loadmore {  text-align:center}
.listings .more-prop-btn a{ padding:8px 30px; display:inline-block; border:#5a5a5a solid 1px; color:#5a5a5b; margin:10px auto; text-decoration:none; cursor:pointer}
.listings .more-prop-btn a:hover { color:#fff; background:#5a5a5a}

/*- Luxury Property Banner  -------------------------------------------------*/
.lux-property-banner {  position:relative; background-size: cover; background-position:center center; }
.lux-property-banner { -webkit-transition: height 0.5s ease; -moz-transition: height 0.5s ease; -ms-transition: height 0.5s ease; 	-o-transition: height 0.5s ease;  transition: height 0.5s ease; }
.lux-property-banner .page-title { text-align:center  }
.lux-property-banner .page-title h1 { text-transform:uppercase; color:#5a5a5a; font-size:24px; margin:10px 0; font-weight:300}
.lux-property-banner .page-title h2 { text-transform:uppercase; color:#5a5a5a; font-size:18px; margin:15px 0; font-weight:700}

/*- Luxury Property Tabs  -------------------------------------------------*/
.lux-property-tabs { min-height:20px;  }
.lux-property-tabs .container{ min-height:20px; margin:0 auto; width:90% ;}
.lux-property-tabs ul { width:520px; margin:0 auto; text-align:center; }
.lux-property-tabs .nav-pills li { padding:0 15px; }
.lux-property-tabs .nav-pills li a { color:#5a5a5a; text-transform:uppercase; outline:none; padding:2px 5px; border-radius:0; text-align:center}
.lux-property-tabs .nav-pills li a:focus { background:none;}
.lux-property-tabs .nav-pills li a:hover  { color:#5a5a5a; background:none; border-bottom:1px solid #5a5a5a}
.lux-property-tabs .nav-pills > li.active > a, .lux-property-tabs .nav-pills > li.active > a:focus, 
.lux-property-tabs .nav-pills > li.active > a:hover { color:#5a5a5a; background:none; border-bottom:1px solid #5a5a5a}

/*- Luxury Property Details  -------------------------------------------------*/
.lux-property-details { background:#f2f2f2; position:relative;}
.lux-property-details  hr { border-top:#000 solid 1px; height:1px; margin:15px 0px;}
.lux-property-details .container{  padding:0px; position:relative; font-weight:300;   }
.lux-property-details .listingDetails, 
.lux-property-details .listingImages { width:90%; margin:0px auto 0px; }
.lux-property-details .content-top { background:#fff; padding:20px 30px; margin-top:10px }
.lux-property-details .content-top .prop-details { list-style:none; margin:0 auto; width:555px; text-align:center; padding:0px;}
.lux-property-details .content-top .prop-details li { display:inline-block; padding:0px; margin:0px 35px 0px 0px; font-weight:400; line-height:24px}
.lux-property-details .content-top .prop-details li .bedrooms { background:url(../images/bed-md.png) 0px 0px no-repeat; width:38px; height:26px; display:inline-block}
.lux-property-details .content-top .prop-details li .bathrooms { background:url(../images/bath-md.png) 0px 0px no-repeat; width:32px; height:26px; display:inline-block}
.lux-property-details .content-top .prop-features { margin-top:20px;}
.lux-property-details .content-top .prop-features .prop-features-list { width:1200px; margin:0 auto}
.lux-property-details .content-top .prop-features ul { margin:0px; padding:0px; list-style:none; }
.lux-property-details .content-top .prop-features ul li span{ margin:0px; padding:0px; list-style:none}
.lux-property-details .content-top .prop-features ul li span strong{ margin:0px; padding:0px; list-style:none; font-weight:400}
.lux-property-details .content-top .prop-features .prop-description { padding-top:20px; text-align:justify; line-height:24px; clear:both }

.lux-property-details .content-top .prop-features .prop-description .show-more{
	cursor: pointer;
	display: inline-block;
}

.lux-property-details .content-bottom { margin:10px 0px; }
.lux-property-details .content-left { padding:0px 0px 0px 5px;  }
.lux-property-details .content-right { padding:0px 5px 0px 0px;   }
.lux-property-details .content-bottom h2 { background:#464646; color:#fff; text-align:center; font-size:16px; padding:8px 0px; font-family: 'Muli', sans-serif; font-weight:300;}
.lux-property-details .content-map { background:#fff; margin-bottom:10px; min-height:444px; max-height:444px; }
.lux-property-details .content-map .mapFullViewLink { width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:15}
.lux-property-details .content-map #propMap { width: 100%; min-height:444px; max-height:444px; }
.lux-property-details .content-mortgage { background:#fff; margin-bottom:10px; min-height:220px; padding:10px  }
.lux-property-details .content-mortgage div { text-align:center}
.lux-property-details .content-mortgage .mort-value{ text-align:center; font-weight:400; font-size:18px; margin-top:10px   }
.lux-property-details .content-mortgage .change-mortgage { margin:20px 0; }
.lux-property-details .content-mortgage .change-mortgage a { border:#000 solid 1px; display:inline-block; padding:5px 20px; color:#000; text-decoration:none;  font-family: 'Maven Pro', sans-serif; font-weight:300;}
.lux-property-details .content-mortgage .mortgage-icon { text-align:right}
.lux-property-details .content-contact { background:#fff; margin-bottom:10px; min-height:180px;  padding:10px }
.lux-property-details .content-contact .agent-details { text-align:center; padding:15px 0; margin:0px;}
.lux-property-details .content-contact .agent-details table{ padding:0px; margin:0px;  width:100% }
.lux-property-details .content-contact .agent-details div {   margin:0 15px;   }
.lux-property-details .content-contact .agent-pic{ text-align:right }
.lux-property-details .content-contact .agent-name{ font-size:16px; font-weight:400; text-align:left }
.lux-property-details .content-contact .agent-number{ font-size:16px; text-align:left }
.lux-property-details .content-contact .agent-email{ font-size:16px; text-align:left }
.lux-property-details .content-contact .agent-view{font-size:14px; text-align:left}
.lux-property-details .content-contact .agent-view button{background: #fff; border: #000 1px solid;}
.lux-property-details .content-contact a { color:#000; text-decoration:none;  }


/*- Luxury Property Gallery  -------------------------------------------------*/
.listingImages { position:relative; z-index:9}
.listingImages .container{}
.listingImages ul { list-style:none; margin:0px; padding:0px}
.listingImages ul li { padding:0px 5px 10px 5px;}

.listingImages .gallery-links { padding:5px;  height:36px; margin-top:5px;}
.listingImages .gallery-links ul { list-style:none; padding:0px; margin:0px; float:right}
.listingImages .gallery-links ul li { display:inline-block; }
.listingImages .gallery-links ul li a { display:block; text-decoration:none; color:#000;  font-family: 'Muli', sans-serif; font-weight:300;}
.listingImages .gallery-links ul li .floorplan span { width:24px; height:14px; display:inline-block; background:url(../images/floorplan-slideshow.png) left top no-repeat}
.listingImages .gallery-links ul li .slideshow span { width:26px; height:14px; display:inline-block; background:url(../images/floorplan-slideshow.png) -23px top no-repeat}

.listingImages div.gallery-effect { position:relative; background:#000;}
.listingImages div.gallery-effect > img { width:100%;}
.listingImages div.gallery-effect img { min-height: 320px; opacity: 0.9;  	-webkit-transition: opacity 0.35s; 	transition: opacity 0.35s;  }
.listingImages div.gallery-effect div { padding: 15px; width:100%; height:100%; 	position: absolute;  top: 0px; right: 0px; bottom: 0px; left: 0px; 	content: '' }
.listingImages div.gallery-effect div::before { opacity: 0; 	
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s; 	transition: opacity 0.35s, transform 0.35s;  -webkit-transform: scale(0); 	transform: scale(0);  }
.listingImages div.gallery-effect:hover div::before  { 	opacity: 1; 	-webkit-transform: scale(1); 	transform: scale(1);  }
.listingImages div.gallery-effect div a { position:absolute; top:0; height:100%; width:100%; text-indent:-9999px;}
.listingImages div.gallery-effect table { 	opacity: 0; width:100%; height:100%; padding:0px; text-align:center; vertical-align:middle;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s; 	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0); 	transform: scale(0); 	border:#fff solid 1px;  }
.listingImages div.gallery-effect:hover table { 	opacity: 1; width:100%; height:100%; padding:0px; text-align:center; vertical-align:middle;
	-webkit-transform: scale(1); 	transform: scale(1);  }
.listingImages div.gallery-effect:hover table td { text-align:center; vertical-align:middle;}
.listingImages div.gallery-effect table img { width:111px; height:111px;}
.listingImages div.gallery-effect:hover table img { width:111px; height:111px;}
.listingImages div.gallery-effect:hover div { 	background-color: rgba(58,52,42,0);   }
.listingImages div.gallery-effect:hover img {  	opacity: 0.5;  }
/*!  lightbox */
.ekko-lightbox-container { position: relative; }
.ekko-lightbox-nav-overlay { position: absolute; top: 0; left: 0; z-index: 11; width: 100%; height: 100%; }
.ekko-lightbox-nav-overlay a { z-index: 11; display: block; width: 49%; height: 100%; font-size: 30px; color: #fff; text-decoration:none; outline:none; text-shadow: 2px 2px 4px #000; opacity: 0;   -webkit-transition: opacity 0.5s; -moz-transition: opacity 0.5s; -o-transition: opacity 0.5s; transition: opacity 0.5s; }
.ekko-lightbox-nav-overlay a:empty { width: 49%;}
.ekko-lightbox a:hover { text-decoration: none; opacity: 1; }
.ekko-lightbox .glyphicon-chevron-left { left: 0; float: left; padding-left: 15px; text-align: left; }
.ekko-lightbox .glyphicon-chevron-right { right: 0; float: right; padding-right: 15px; text-align: right; }
.ekko-lightbox .modal-dialog { margin:3% auto; width:1024px !important}
.ekko-lightbox .modal-header { padding:0px; border:none }
.ekko-lightbox .modal-header > .close { margin:-5px 0 0 0; color:#000 !important; height:21px; width:15px; opacity:1;}
.ekko-lightbox .modal-header h4 { display:none}
.ekko-lightbox .modal-body { padding:0px 15px}
.ekko-lightbox .modal-content { background:#fff;}
.ekko-lightbox .modal-footer { display:block; padding:8px; border:none}

.propertyGallerySlides .glyphicon-chevron-right { right:15px;}
.carousel-control.left, .carousel-control.right { background:none}

.luxury-communities { position:relative; padding-top:0px }
.luxury-communities .container-fluid { margin:0px; padding:5px; }
.luxury-communities .container-fluid > div  { padding:5px; }
.luxury-communities h1 { text-align:center; font-size:26px;  font-family: 'Muli', sans-serif; font-weight:300; }
.luxury-communities .swipe-arrow { display:none; }

/* Communities  */
.community-effect { 	background-size:cover; 	background-repeat:no-repeat; 	background-position:center; 	position:relative; 	overflow:hidden;  }
.community-effect .areas-content { 	position:absolute; 	left:0; 	right:0; 	top:47%; 	bottom:0; 	text-align:center; 	color:#5a5a5a; 	margin-top:-10px; 	-moz-transition:margin-top .4s ease-in-out; 	transition:margin-top .4s ease-in-out }
.community-effect h1 { font-size:2.4rem; font-family: 'Open Sans', sans-serif; font-weight:400; }
.community-effect .linksBtns { filter:alpha(opacity=1); opacity:0; margin-top:70px;
-moz-transition:opacity .3s ease-in-out, margin-top .3s ease-in-out;
transition:opacity .3s ease-in-out, margin-top .3s ease-in-out;  }
.community-effect .linksBtns a { color:#5a5a5a; text-decoration:none; font-size:15px; font-family: 'Maven Pro', sans-serif; font-weight:400; padding:3px 10px;  text-align:center; border:#5a5a5a solid 1px; margin:0 15px; z-index:16; position:relative}
.community-effect .linksBtns a:hover { color:#fff;  border:#5a5a5a solid 1px; background:#5a5a5b; margin:0 15px;}
.community-effect .linksBtns .text { margin:0 auto 30px}
.community-effect.wide .text { width:60%;  }
.community-effect.narrow .linksBtns .text { width:90%}
.community-effect .areas-shadow { position:absolute; top:0; bottom:0; left:0; right:0; background:rgba(0, 0, 0, .3); filter:alpha(opacity=0.3); opacity:0.3; -moz-transition:opacity .5s ease-in-out; transition:opacity .5s ease-in-out }

/* Communities effect */
.community-effect:hover .areas-shadow { position:absolute; top:0; bottom:0; left:0; right:0; background:rgba(242, 242, 242, .9); filter:alpha(opacity=0.6); opacity:0.6; -moz-transition:opacity .5s ease-in-out; transition:opacity .5s ease-in-out }
.community-effect .community-link {width:100%; height:100px; position:absolute; top:0px; height:100%; display:block; z-index:10; text-indent:-99999px; text-decoration:none;}
.community-effect:hover .linksBtns, 
.community-effect:hover .areas-shadow {filter:alpha(opacity=1);opacity:1}
.community-effect {height:358px; -webkit-transition: height 0.5s ease; -moz-transition: height 0.5s ease; -ms-transition: height 0.5s ease; -o-transition: height 0.5s ease;  transition: height 0.5s ease;}
.community-effect img{height:100%;}
.community-effect:hover .linksBtns {margin-top:18px;}
.community-effect:hover .areas-content {margin-top:-75px;}
.community-effect h1 a, .community-effect h1 { text-decoration:none; color:#fff; }
.community-effect:hover h1 a, .community-effect:hover h1 { text-decoration:none; color:#5a5a5a; }
.community-effect.albarari 			{ background:url(../images/community/AlBarari.jpg) center center }
.community-effect.arabianranches 	{ background:url(../images/community/ArabianRanches.jpg) center center }
.community-effect.downtowndubai 	{ background:url(../images/community/DowntownDubai.jpg) center center }
.community-effect.dubaimarina 		{ background:url(../images/community/DubaiMarina.jpg) center center }
.community-effect.emirateshills 	{ background:url(../images/community/EmiratesHills.jpg) center center }
.community-effect.jge 				{ background:url(../images/community/JGE.jpg) center center }
.community-effect.jumeirahislands   { background:url(../images/community/JumeirahIslands.jpg) center center }
.community-effect.palmjumeirah 		{ background:url(../images/community/PalmJumeirah.jpg) center center }

/* Communities Details */
.community-details .community-boxes { padding:0px 0px; margin-top:10px}
.community-details  > .container-fluid { padding:0px 5px;}
.community-details .community-boxes > .container-fluid { padding:0px;}
.community-details .community-bottom { margin:0px 0px; }
.community-details .content-left { padding:0px 5px; margin-bottom:10px }
.community-details .content-right { padding:0px 5px; margin-bottom:10px }
.community-details .content-middle { padding:0px 5px; margin-bottom:10px }
.community-details  h1 { text-align:center; font-size:26px; padding:5px 0 10px }
.community-details .community-bottom h2 { background:#cacaca; color:#5a5a5a; text-align:center; font-size:20px; padding:8px 0px;}
.community-details .community-bottom .content-featured { background:#f4f4f4; margin-bottom:0px; min-height:444px; max-height:444px;}
.community-details .community-bottom .content-featured a { text-decoration:none; width:100%; height:100%; min-height:444px; max-height:444px;display:block; text-indent:-9999px}
.community-details .community-bottom .content-map { background:#f4f4f4; margin-bottom:0px;}
.community-details .content-middle .box{ background:#fff; min-height:250px; padding:10px; }
.community-details .content-middle .box h2{ padding:20px 0px; background:none; color:#000; font-size:20px }
.icon-school { background:url(../images/school-icon.png) left top no-repeat; width:30px; height:30px; display:inline-block; vertical-align:-5px; margin-right:10px}
.icon-shopping { background:url(../images/shoping-icon.png) left top no-repeat;  width:31px; height:25px; display:inline-block; vertical-align:-5px; margin-right:10px}
.icon-transport { background:url(../images/transport-icon.png) left top no-repeat;  width:18px; height:29px; display:inline-block; vertical-align:-10px; margin-right:10px}
.community-details .content-middle .box ul { list-style:none; width:250px; margin:0 auto; padding:0px; }
.community-details .content-middle .box ul li { margin:10px 0px;  }


/* Service Packages */
.service-packages { clear:both; padding:10px 0 20px}
.service-packages h1 { text-align:center; text-transform:uppercase; font-size:22px; font-weight:400; color:#5a5a5a; margin:5px 0 30px; }
.service-packages .text { text-align:justify; font-weight:300; color:#5a5a5a }
.service-packages .packages { text-align:center; font-weight:300; color:#5a5a5a; margin:30px 0 0 }
.service-packages .packages h3 { text-align:center; font-weight:500; color:#5a5a5a; margin:30px 0 }
.service-packages .packages ul li ul { list-style:outside; padding:0 20px; margin:15px 0 }
.service-packages .packages ul li ul li { text-align:justify; margin:15px 0; }
.service-packages .packages .more { text-align:center; margin:10px 0;}
.service-packages .packages .more a { display:block; width:150px; padding:3px 5px; border:#5a5a5a solid 1px; color:#5a5a5a; text-decoration:none; margin:15px auto}
.service-packages .packages .more a:hover {  border:#5a5a5a solid 1px; background:#5a5a5b; color:#fff;}


@media (max-width:1599px) { 

}

@media  (max-width:1399px) { 
	.lux-page-banner { height:500px; }
	.lux-property-banner { height:500px; }
	
	.lux-property-details .content-top .prop-features .prop-features-list { width:100%; margin:0 auto}
	
	.luxury-portfolio .middle-box { height:850px; }
	
	.community-effect.wide:hover .linksBtns {margin-top:18px; }
	.community-effect.wide:hover .areas-content {margin-top:-75px}
	.community-effect.narrow:hover .linksBtns {margin-top:18px; }
	.community-effect.narrow:hover .areas-content {margin-top:-75px}


}

@media  (max-width:1199px) { 
	.lux-page-banner { height:450px; }
	.lux-property-banner { height:450px; }
	
	.propertyGallerySlides .modal-dialog, .ekko-lightbox .modal-dialog { width:80% !important }
	
	.luxury-portfolio .middle-box { height:750px; }
	
	.top_search { height:105px;  clear:both;}
	
	.full-bg .middle .box {  width:80%;   }
	
	.community-effect {height:270px; }
	.community-effect.wide:hover .linksBtns {margin-top:18px; }
	.community-effect.wide:hover .areas-content {margin-top:-85px !important}
	.community-effect.narrow:hover .linksBtns {margin-top:18px; }
	.community-effect.narrow:hover .areas-content {margin-top:-95px !important}

	.luxury-portfolio .specialities ul { width:100%; }

}

@media  (max-width:991px) { 
	.lux-page-banner { height:400px; }
	
	.luxury-portfolio .middle-box { height:650px; }

	
	.lux-property-details .content-left { padding:0px;  }
	.lux-property-details .content-right { padding:0px;   }
	.lux-property-details .content-map {  min-height:250px; }
	.lux-property-details .content-map #propMap { width: 100%; min-height:250px; max-height:250px; }
	
	.community-effect {height:200px;}
	.community-effect.wide:hover .linksBtns {margin-top:18px; }
	.community-effect.wide:hover .areas-content {margin-top:-40px !important}
	.community-effect.narrow:hover .linksBtns {margin-top:18px; }
	.community-effect.narrow:hover .areas-content {margin-top:-55px !important}
	.community-effect .linksBtns .text { display:none; opacity:0 }
	.community-effect.wide .linksBtns a, .community-effect.wide .linksBtns a:hover { width:150px; margin:10px; display:inline-block;}
	.community-effect.narrow .linksBtns a, .community-effect.narrow .linksBtns a:hover { width:150px; margin:10px auto; display:block;}

	.community-details  > .container-fluid { padding:0px 10px;}
	.community-details .content-left { padding:0px 0px; margin-bottom:10px }
	.community-details .content-right { padding:0px 0px; margin-bottom:10px }
	
}

@media (max-width:767px), only screen and (max-device-width:767px) { 

	#header .logo { width:227px; height:70px;}
	#header .logo a  {  margin:26px 0 0 20px;  width:172px; height:25px; }
	#header .navbar { height:70px; margin:0;  z-index:9 }
	.top_search { height:215px;  clear:both;}
	.search-container {  margin-top:0px; z-index:8;}
	
	.lux-page-banner { height:350px; }
	.lux-property-banner { height:350px; }
	
	.luxury-portfolio .middle-box { height:900px; clear:both }
	.luxury-portfolio .middle-box .left, .luxury-portfolio .middle-box .right { clear:both; height:50%;}
	.luxury-portfolio .middle-box .right { position:relative}
	.luxury-portfolio .middle-box .right .top { position:absolute; bottom:0; width:100% }
	 .luxury-portfolio .middle-box .right .bottom { position:absolute; top:0; width:100%}
	
	.listings  li .list_full_detail { display:none; visibility:hidden}
	.listings .list .detail-link {  text-indent:-9999px; display:block; width:100%; height:100%; position:absolute; top:0; left:0; z-index:9;}
	
	.lux-property-details .listingDetails, .lux-property-details .listingImages { width:100%; margin:0px auto 10px; }
	.lux-property-details .content-top { padding:0px;}
	.lux-property-details .content-top .prop-details { list-style:none; width:100%; text-align:center; padding:0px; padding-top:10px}
	.lux-property-details .content-top .prop-details li {  padding:0px; margin:10px; font-weight:400}
	.lux-property-details .content-top .prop-features { padding:0 15px 10px}
	.lux-property-details .content-bottom { padding:0 10px}
	.lux-property-details .content-nextprev { padding:0 10px}
	.lux-property-details .content-left { padding:0px;  }
	.lux-property-details .content-right { padding:0px;   }
	.lux-property-details .similar-properties { padding:5px}
	.lux-property-details .similar-properties > .container{ padding:0px}
	.lux-property-details .similar-properties > .container ul { list-style:none}
	
	.lux-property-banner .page-title { padding:20px 0px; }
	.lux-property-tabs .container { padding:0; width:100%}
	.lux-property-tabs ul { width:355px;}
	.lux-property-tabs .nav-pills li { padding:0 5px}
	.lux-property-tabs .nav-pills li a { font-size:12px; }
	.lux-property-tabs .nav-pills li a .details-tab,
	.lux-property-tabs .nav-pills li a .images-tab,
	.lux-property-tabs .nav-pills li a .enquire-tab,
	.lux-property-tabs .nav-pills li a .ebrochure-tab,
	.lux-property-tabs .nav-pills li a .share-tab { display:block; margin:0 auto 5px auto }
	.lux-property-tabs .nav-pills li a .viewonkendal-tab {  display:block; margin:0 auto 5px auto }
	
	.propertyGallerySlides .modal-dialog, .ekko-lightbox .modal-dialog { width:90% !important}
	
	.full-bg .middle .box {  width:90%;   }
	.full-bg .middle .box .list-property-btn a.linkbtn { margin-bottom:10px}
	.error-bg > .container-fluid { height:100%; padding:25% 0 10px 0}
	.move-inout-bg > .container-fluid { height:100%; padding:25% 0 10px 0;  }
	.move-inout-bg .move-links { margin-top:60px; }
	
	
	
	.community-effect { 	min-height:200px; 	max-height:200px;	 }
	.community-effect.albarari 			{ background:url(../images/community/AlBarari.jpg) center center }
	.community-effect.arabianranches 	{ background:url(../images/community/ArabianRanches.jpg) center center }
	.community-effect.downtowndubai 	{ background:url(../images/community/DowntownDubai.jpg) center center }
	.community-effect.dubaimarina 		{ background:url(../images/community/DubaiMarina.jpg) center center }
	.community-effect.emirateshills 	{ background:url(../images/community/EmiratesHills.jpg) center center }
	.community-effect.jge 				{ background:url(../images/community/JGE.jpg) center center }
	.community-effect.jumeirahislands 	{ background:url(../images/community/JumeirahIslands.jpg) center center }
	.community-effect.palmjumeirah 		{ background:url(../images/community/PalmJumeirah.jpg) center center }
	
	.community-effect > a { text-decoration:none; color:#fff; width:100%; height:100%; position:absolute; left:0px; top:0px; z-index:10 }
	.community-effect > a.community-link { text-decoration:none; color:#fff; width:100%; height:100%; position:absolute; left:0px; top:0px; z-index:10; text-indent:-9999px }
	.community-effect h1 > a { text-decoration:none; color:#fff; width:100%; height:100%; position:absolute; left:0px; top:0px; z-index:10; padding-top:85px }
	.community-effect .areas-content { top:0px; margin-top:0px; display:flex; align-items:center; justify-content:center;}
	.community-effect .linksBtns { display:none}
	.community-effect figcaption  { /*padding-top:85px*/}
	.community-effect.wide:hover .areas-content {margin-top:0px !important}
	.community-effect.narrow:hover .areas-content {margin-top:0px !important}
	
	.community-details .community-bottom .content-map { min-height:250px !important; max-height:250px !important;}
	.community-details .content-left { padding:0px 0px; margin-bottom:10px }
	.community-details .content-right { padding:0px 0px; margin-bottom:10px }
	.community-details .content-middle { padding:0px 0px; margin-bottom:10px }
	
	.service-packages .packages ul li { margin-bottom:20px;}
	.service-packages .packages ul li ul { list-style:outside; padding:0 20px; margin:15px auto; width:330px; }


}

@media (max-width:480px) {


}


