<!-- Member Login Popup-->
<div class="modal fade loginPopup modal-dark" id="clLogin" role="dialog">
  <div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Member Login</h4>
      </div>
      <form  id="loginForm" class="loginForm" method="post"  action="#">
        <div class="modal-body">
          <div class="popup-form">
            <ul>
              <li>
                <div class="form-group">
                  <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="Email *"  />
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="password" class="form-control" name="loginPass" id="loginPass" placeholder="Password *" />
                </div>
              </li>
              <li class="forgotPassLnk" > <a href="#ForgotPassword" data-toggle="modal" data-target="#ForgotPassword" data-dismiss="modal" >Forgot Password</a></li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#Register" data-toggle="modal" data-target="#clRegister" data-dismiss="modal" class="lnkBtn" >Register</a> 
            <button type="submit" class="btn btn-default">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>