<div id="fullpage">
  <div class="section page0 active" id="section0">
    <div class="container-fluid">
    <div class="drag"></div>
      <div class="kendal-link"> <a href="http://www.kendal.ae">Kendal</a> </div>
      <div class="bottom-links">
        <div class="category-link">
          <ul>
            <li class="col-xs-4"><a href="http://www.kendal.ae">Apartments
              <div class="current">
                <div class="menuline"></div>
              </div>
              </a><div class="sublinks">
              <a href="#buy" class="buy" >Buy</a><a href="#rent" class="rent">Rent</a>
              </div></li>
            <li class="col-xs-4"><a href="http://www.kendal.ae">Villas
              <div class="current">
                <div class="menuline"></div>
              </div>
              </a><div class="sublinks">
              <a href="#buy" class="buy" >Buy</a><a href="#rent" class="rent">Rent</a>
              </div></li>
            <li class="col-xs-4"><a href="http://www.kendal.ae">Penthouses
              <div class="current">
                <div class="menuline"></div>
              </div>
              </a><div class="sublinks">
              <a href="#buy" class="buy" >Buy</a><a href="#rent" class="rent">Rent</a>
              </div></li>
          </ul>
        </div>
        <div class="next-page-arr" id="nextp">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="section page1" id="section1">
    <div class="container-fluid">
      <div class="col-sm-6 left">
        <div class="top">
          <div class="content">
            <h1>Buy Luxury Properties</h1>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus semper sagittis ipsum, nec iaculis est sollicitudin eu. Vestibulum fringilla urna nec ex maximus vehicula. Nullam ultricies mauris eget quam eleifend, sit amet interdum tortor porttitor. Nunc sagittis commodo dui, vel. </div>
            <div class="more"><a href="#" >more</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 right">
        <div class="bottom">
          <div class="content">
            <h1>Buy Luxury Properties</h1>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus semper sagittis ipsum, nec iaculis est sollicitudin eu. Vestibulum fringilla urna nec ex maximus vehicula. Nullam ultricies mauris eget quam eleifend, sit amet interdum tortor porttitor. Nunc sagittis commodo dui, vel. </div>
            <div class="more"><a href="#" >more</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section page2" id="section2">
    <div class="container-fluid">
      <div class="col-sm-6 left">
        <div class="top"> </div>
        <div class="bottom">
          <div class="content">
            <h1>Buyers - Move in packages</h1>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus semper sagittis ipsum, nec iaculis est sollicitudin eu. Vestibulum fringilla urna nec ex maximus vehicula. Nullam ultricies mauris eget quam eleifend, sit amet interdum tortor porttitor. Nunc sagittis commodo dui, vel. </div>
            <div class="more"><a href="#" >more</a></div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 right">
        <div class="top">
          <div class="content">
            <h1>Sellers - Move out packages</h1>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus semper sagittis ipsum, nec iaculis est sollicitudin eu. Vestibulum fringilla urna nec ex maximus vehicula. Nullam ultricies mauris eget quam eleifend, sit amet interdum tortor porttitor. Nunc sagittis commodo dui, vel. </div>
            <div class="more"><a href="#" >more</a></div>
          </div>
        </div>
        <div class="bottom"> </div>
      </div>
    </div>
  </div>
  <div class="section page3" id="section3">
    <div class="container-fluid">
      <div class="middle">
        <div class="box">
          <div class="content">
            <h1>Luxury Services Package</h1>
            <div class="packages">
              <ul>
                <li class="col-xs-4"><img src="assets/images/silver.png" alt="Silver" >
                  <h3>Silver</h3>
                </li>
                <li class="col-xs-4"><img src="assets/images/gold.png" alt="Gold" >
                  <h3>Gold</h3>
                </li>
                <li class="col-xs-4"><img src="assets/images/platinum.png" alt="Platinum" >
                  <h3>Platinum</h3>
                </li>
              </ul>
            </div>
            <div class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus semper sagittis ipsum, nec iaculis est sollicitudin eu. Vestibulum fringilla urna nec ex maximus vehicula. Nullam ultricies mauris eget quam eleifend, sit amet interdum tortor porttitor. Nunc sagittis commodo dui, vel. </div>
            <div class="more"><a href="#" >more</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section page4" id="section4">
    <div class="container-fluid">
      <div class="middle">
        <div class="box">
          <div class="content">
            <h1>List your own properties</h1>
            <div class="text">This functionality will enable you to login and save your favorite listings and searches so that you can view them again in the future. Receive agent's recommendation and control your email alert settings. All that and more. Try it now. It's free - simply register and start searching for your new home today.</div>
            <div class="list-property-btn"> <a href="#Register" title="Client Register" data-toggle="modal" data-target="#clRegister" class="linkbtn" >Register</a> <a href="#Login" title="Client Login" data-toggle="modal" data-target="#clLogin" class="linkbtn" >Log In</a> </div>
          </div>
        </div>
      </div>
      <div id="footer" class="footer-container">
          <div class="container-fluid">
            <ul class="row">
              <li class="col-md-2 col-sm-4  col-lg-2">
                <h2><a href="about-us.php">About Us</a></h2>
                <ul class="fl1">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">What Sets Us Apart</a></li>
                    <li><a href="#">Marketing Solutions</a></li>
                    <li><a href="#">Our Team</a></li>
                </ul>
              </li>
              <li class="col-md-2 col-sm-4 col-lg-2">
                <h2><a href="#">About Dubai</a></h2>
                <ul>
                  <li><a href="#">Why Invest In Dubai</a></li>
                  <li><a href="#">Dubai Property Laws</a></li>
                </ul>
              </li>
              <li class="col-md-2 col-sm-4 col-lg-2">
                <h2><a href="#">Communities</a></h2>
                <ul>
                  <li><a href="#">Al Barari</a></li>
                  <li><a href="#">Arabian Ranches</a></li>
                  <li><a href="#">DIFC</a></li>
                  <li><a href="#">Downtown Dubai</a></li>
                  <li><a href="#">More Areas</a></li>
                </ul>
              </li>
              <li class="col-md-2 col-sm-4 col-lg-2">
                <h2><a href="#">Quick Links</a></h2>
                <ul >
                  <li><a href="#">News</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Sitemap</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Newsletter</a></li>
                </ul>
              </li>
              <li class="col-md-2 col-sm-4 col-lg-2">
                  <h2><a href="#">Luxury</a></h2>
                  <ul >
                    <li><a href="#">Buy</a></li>
                    <li><a href="#">Rent</a></li>
                    <li><a href="#">Communities</a></li>
                    <li><a href="#">Services</a></li>
                  </ul>
                </li>
              <li class="col-md-2 col-sm-4 col-lg-2">
                <h2 ><a href="#">Contact Us</a></h2>
                <ul>
                    <li><a href="#">Office Location</a></li>
                    <li><a href="tel:+97143882921"><span class="tel-ico">&nbsp;</span> +971 4 388 2921</a></li>
                    <li><a href="#"><span class="fax-ico">&nbsp;</span> +971 4 325 3735</a></li>
                    <li><a href="#"><span class="email-ico">&nbsp;</span> info@kendal.ae</a></li>
                </ul>
              </li>
            </ul>
          
            <div class="social-links">
              <ul>
                <li><a href="https://twitter.com/KendalAndCo" title="Twitter"><span class="twitterIco">&nbsp;</span></a></li> 
                <li><a href="https://www.facebook.com/KendalAndCo" title="Facebook"><span class="facebookIco">&nbsp;</span></a></li>
                <li><a href="https://www.linkedin.com/company/kendal-&-co" title="LinkedIn"><span class="linkedinIco">&nbsp;</span></a></li>
                <li><a href="https://plus.google.com/+KendalCoDubai/posts" title="Google+"><span class="googleIco">&nbsp;</span></a></li> 
                <li><a href="http://www.kendal.ae/blog/" title="Kendal Blog"><span class="blogIco">&nbsp;</span></a></li>
                <li><a href="https://www.pinterest.com/KendalAndCo/" title="Prinerest"><span class="printerestIco">&nbsp;</span></a></li>
                <li><a href="https://www.instagram.com/kendalandco/" title="Instagram"><span class="instagramIco">&nbsp;</span></a></li>
                <li><a href="https://www.youtube.com/user/KendalAndCo" title="YouTube"><span class="youtubeIco">&nbsp;</span></a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>