<!-- Share Popup-->
<div class="modal fade modal-dark" id="Share" role="dialog">
  <div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Share with a friend</h4>
      </div>
      <form  id="propShareForm" class="propShareForm" method="post"  action="#">
        <div class="modal-body">
          <div class="share-detail">
            <table>
              <tr>
                <td class="share-twt-td" ><a href="#"><span class="share-twt">&nbsp;</span></a></td>
                <td class="share-fb-td" ><a href="#"><span class="share-fb">&nbsp;</span></a></td>
                <td class="share-ln-td" ><a href="#"><span class="share-ln">&nbsp;</span></a></td>
              </tr>
            </table>
          </div>
          <div class="popup-form">
            <ul>
              <li>
                <div class="form-group">
                  <input type="text" name="shareName" class="form-control" placeholder="Name *" />
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" name="shareEmail" class="form-control" placeholder="Email *" />
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="text" name="shareTo" class="form-control" placeholder="To *" />
                </div>
              </li>
              <li>
                <div class="form-group">
                  <textarea name="shareMsg" class="form-control" placeholder="Message" ></textarea>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>