<div class="gallery-effect"> <img src="{{image.image}}"  alt="img"  />
  <div>
    <table>
      <tr>
        <td><img src="assets/images/gallery-cross.png" width="111" height="111" alt="img"  ></td>
      </tr>
    </table>
    <a href="{{image.image}}"   data-toggle="lightbox" data-gallery="propertyGallery" >View more</a> 
 </div>
</div>