<div id="header">
  <nav class="navbar navbar-default ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="logo">
        <a href="#" ><img src="assets/images/Luxury-Logo.png" alt="Luxury Portfolio"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="dropdown"><a href="/luxury/Sale" class="dropdown-toggle" >Buy</a>
              <ul class="dropdown-menu">
                  <li><a href="/luxury/Apartment-For-Sale">Apartments</a></li>
                  <li><a href="/luxury/Villa-For-Sale">Villas</a></li>
                  <li><a href="/luxury/Penthouse-For-Sale">Penthouses</a></li>
              </ul>
          </li>
          <li class="dropdown"><a href="/luxury/Rent" class="dropdown-toggle">Rent</a>
              <ul class="dropdown-menu">
                  <li><a href="/luxury/Apartment-For-Rent">Apartments</a></li>
                  <li><a href="/luxury/Villa-For-Rent">Villas</a></li>
                  <li><a href="/luxury/Penthouse-For-Rent">Penthouses</a></li>
              </ul>
          </li>
          <li class="dropdown"><a href="/luxury/communities" class="dropdown-toggle" >Communities</a>
            <ul class="dropdown-menu">
              <li><a href="#">By Area</a></li>
              <li><a href="#">By Map</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#" class="dropdown-toggle" >Services</a>
            <ul class="dropdown-menu">
              <li><a href="#">Move In / Move Out Packages</a></li>
            </ul>
          </li>
          <li><a href="#">Blog</a></li>
        </ul>
        
      </div><!--/.nav-collapse -->
      <ul class="nav navbar-nav navbar-right">
          <li class="search-icon"><a href="#" class="search_ico">Search</a></li>
          <li><a href="#" title="Client Login"  data-toggle="modal" data-target="#clLogin" class="login_ico">login</a></li>
          <li><a href="#" class="call_ico">+971 3 388 2921</a></li>
        </ul>
    </div><!--/.container-fluid -->
    <div class="breadcrumb-area" >
      <ul class="breadcrumb">
        <li class="active">Kendal Luxury</li>
      </ul>
    </div>
  </nav>
  <div class="search-container">
    <div class="container-fluid">
    <div class="search-boxes">
      <form class="search-fileds" >
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
          <input type="text" class="form-control" id="search_ref" placeholder="Ref No" />
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
          <select class="selectpicker form-control">
            <option>Buy</option>
            <option>Rent</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-1  col-lg-push-4">
          <select class="selectpicker form-control">
            <option class="title">Property Type</option>
            <option value="1">Apartments</option>
            <option value="2">Villas</option>
            <option value="3">Penthouse</option>
            <option value="4">Office</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-pull-1">
          <input type="text" class="form-control" id="search" placeholder="Search Area Or Development" />
        </div>
        <div class="col-xs-6 col-sm-2  col-md-2 col-lg-1">
          <select class="selectpicker form-control">
            <option class="title">Min Price</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-2  col-md-2 col-lg-1">
          <select class="selectpicker form-control">
            <option class="title">Max Price</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-1">
          <select class="selectpicker form-control">
            <option class="title">Min Bed</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-1">
          <select class="selectpicker form-control">
            <option class="title">Max Bed</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1  col-xs-push-8 col-sm-push-1 col-md-push-2  col-lg-push-0">
          <button type="button" class="btn btn-default form-control btn-search" (click)="doSearch()">
          <!-- <span class="btn-ico">&nbsp;</span> -->
          Search</button>
        </div>
        <div class="search-refines">
          <ul>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >AED</a>
              <ul class="dropdown-menu dropdown-narrow">
                <li>
                  <ul>
                    <li><a href="#">AED</a></li>
                    <li><a href="#">USD</a></li>
                    <li><a href="#">GBP</a></li>
                    <li><a href="#">EUR</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >SQ.FT</a>
              <ul class="dropdown-menu dropdown-narrow">
                <li>
                  <ul>
                    <li><a href="#">SQ.FT</a></li>
                    <li><a href="#">SQ.MT</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="text-right" ><a href="" >Save&nbsp;Search</a></li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>
