<form class="search-fileds" >
  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
    <input type="text" class="form-control" id="search_ref" placeholder="Ref No" />
  </div>
  <div class="col-xs-3 col-sm-2 col-md-2 col-lg-1">
    <select class="selectpicker form-control">
      <option>Buy</option>
      <option>Rent</option>
    </select>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2 col-lg-1  col-lg-push-4">
    <select class="selectpicker form-control">
      <option class="title">Property Type</option>
      <option value="1">Apartments</option>
      <option value="2">Villas</option>
      <option value="3">Penthouse</option>
      <option value="4">Office</option>
    </select>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-pull-1">
    <input type="text" class="form-control" id="search" placeholder="Search Area Or Development" />
  </div>
  <div class="col-xs-6 col-sm-2  col-md-2 col-lg-1">
    <select class="selectpicker form-control">
      <option class="title">Min Price</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="col-xs-6 col-sm-2  col-md-2 col-lg-1">
    <select class="selectpicker form-control">
      <option class="title">Max Price</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2 col-lg-1">
    <select class="selectpicker form-control">
      <option class="title">Min Bed</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="col-xs-6 col-sm-2 col-md-2 col-lg-1">
    <select class="selectpicker form-control">
      <option class="title">Max Bed</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="col-xs-4 col-sm-3 col-md-2 col-lg-1  col-xs-push-8 col-sm-push-1 col-md-push-2  col-lg-push-0">
    <button type="submit" class="btn btn-default form-control btn-search" (click)="doSearch()">
    <!-- <span class="btn-ico">&nbsp;</span> -->
    Search</button>
  </div>
  <div class="search-refines">
    <ul>
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >AED</a>
        <ul class="dropdown-menu dropdown-narrow">
          <li>
            <ul>
              <li><a href="#">AED</a></li>
              <li><a href="#">USD</a></li>
              <li><a href="#">GBP</a></li>
              <li><a href="#">EUR</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" >SQ.FT</a>
        <ul class="dropdown-menu dropdown-narrow">
          <li>
            <ul>
              <li><a href="#">SQ.FT</a></li>
              <li><a href="#">SQ.MT</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="text-right" ><a href="" >Save&nbsp;Search</a></li>
    </ul>
  </div>
</form>