<div id="ebrochure" #ebrochure>
  <table width="1122" height="793" border="0" align="center" cellpadding="0" cellspacing="0" 
    style="background-size:cover;background-repeat: no-repeat;font-family:Arial, Helvetica, sans-serif;font-weight:bold; padding:0px; margin:0px;">
    <tr>
      <td align="left" valign="top">
        <table width="557" border="0" cellpadding="3" cellspacing="3" style="font-size:13px; color:#545453; font-weight:normal;" colspan="3">
          <tr>
            <td align="left">PID:</td>
            <td align="left">PER-S-2566</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <button (click)="downloadPDF()">Download</button>
</div>
