<!-- Member Login Popup-->
<div class="modal fade loginPopup modal-dark" id="clLogin" role="dialog">
  <div class="modal-dialog"> 
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Member Login</h4>
      </div>
      <form  id="loginForm" class="loginForm" method="post"  action="#">
        <div class="modal-body">
          <div class="popup-form">
            <ul>
              <li>
                <div class="form-group">
                  <input type="email" class="form-control" name="loginEmail" id="loginEmail" placeholder="Email *"  />
                </div>
              </li>
              <li>
                <div class="form-group">
                  <input type="password" class="form-control" name="loginPass" id="loginPass" placeholder="Password *" />
                </div>
              </li>
              <li class="forgotPassLnk" > <a href="#ForgotPassword" data-toggle="modal" data-target="#ForgotPassword" data-dismiss="modal" >Forgot Password</a></li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#Register" data-toggle="modal" data-target="#clRegister" data-dismiss="modal" class="lnkBtn" >Register</a> 
            <button type="submit" class="btn btn-default">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Footer Section-->
<footer class="footer">
  <div class="container footer-container">
    <div class="row no-pad">
      <div class="col-lg-11 col-md-11 footer-links">
        <div class="container">
          <ul class="row">
            <li class="col-md-2 col-sm-4  col-lg-2">
              <h2 class="flt1">About Us</h2>
              <ul class="fl1">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">What Sets Us Apart</a></li>
                <li><a href="#">Marketing Solutions</a></li>
                <li><a href="#">Our Team</a></li>
              </ul>
            </li>
            <li class="col-md-2 col-sm-4 col-lg-2">
              <h2 class="flt2">About Dubai</h2>
              <ul class="fl2">
                <li><a href="#">Why Invest In Dubai</a></li>
                <li><a href="#">Dubai Property Laws</a></li>
              </ul>
            </li>
            <li class="col-md-2 col-sm-4 col-lg-2">
              <h2 class="flt3">Communities</h2>
              <ul class="fl3">
                <li><a href="#">Al Barari</a></li>
                <li><a href="#">Arabian Ranches</a></li>
                <li><a href="#">DIFC</a></li>
                <li><a href="#">Downtown Dubai</a></li>
                <li><a href="#">More Areas</a></li>
              </ul>
            </li>
            <li class="col-md-2 col-sm-4 col-lg-2">
              <h2 class="flt4">Quick Links</h2>
              <ul class="fl4">
                <li><a href="#">News</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Newsletter</a></li>
              </ul>
            </li>
            <li class="col-md-2 col-sm-4 col-lg-2">
              <h2 class="flt5">Luxury</h2>
              <ul class="fl5">
                <li><a href="#">Buy</a></li>
                <li><a href="#">Rent</a></li>
                <li><a href="#">Communities</a></li>
                <li><a href="#">Services</a></li>
              </ul>
            </li>
            <li class="col-md-2 col-sm-4 col-lg-2">
              <h2 class="flt6">Contact Us</h2>
              <ul class="fl6">
                <li><a href="#">Office Location</a></li>
                <li><a href="tel:+971 4 388 2921"><span><i class="fa fa-phone"></i></span>+971 4 388 2921</a></li>
                <li><a href="#"><span><i class="fa fa-print"></i></span>+971 4 325 3735</a></li>
                <li><a href="#"><span><i class="fa fa-envelope"></i></span>info@kendal.ae</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-1 col-md-1 social-links">
        <ul>
          <li>&nbsp;&nbsp;
            <a href="https://twitter.com/KendalAndCo" title="Twitter"><span><i class="fa fa-twitter"></i></span>&nbsp;</a>&nbsp;&nbsp; 
            <a href="https://twitter.com/KendalAndCo" title="Twitter"><span><i class="fa fa-facebook"></i></span>&nbsp;</a>
          </li>
          <li>&nbsp;&nbsp;
            <a href="https://twitter.com/KendalAndCo" title="Twitter"><span><i class="fa fa-linkedin"></i></span>&nbsp;</a>&nbsp;&nbsp; 
            <a href="https://twitter.com/KendalAndCo" title="Twitter"><span><i class="fa fa-google-plus"></i></span>&nbsp;</a>
          </li>
          <li>&nbsp;&nbsp;
            <a href="https://twitter.com/KendalAndCo" title="Twitter"><span><i class="fa fa-twitter"></i></span>&nbsp;</a>&nbsp;&nbsp; 
            <a href="https://twitter.com/KendalAndCo" title="Twitter"><span><i class="fa fa-facebook"></i></span>&nbsp;</a>
          <li>&nbsp;&nbsp;
            <a href="https://twitter.com/KendalAndCo" title="Twitter"><span><i class="fa fa-linkedin"></i></span>&nbsp;</a>&nbsp;&nbsp; 
            <a href="https://twitter.com/KendalAndCo" title="Twitter"><span><i class="fa fa-google-plus"></i></span>&nbsp;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>