.footer{
	width: 100%;
	color: #5A5A5A;
}
.footer > .container{
	padding: 15px;
	background: #fff;
	width: 100%;
}
.footer .footer-links > .container{
	width: 100%;
	z-index: 0;
}
.footer .footer-links > .container ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.footer .footer-links > .container ul > li{
	margin: 5px 0px;
	padding: 1px 0px;
	line-height: 20px;
}
.footer .footer-links > .container ul > li a{
	font-size: 14px;
    color: #5A5A5A;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.footer .footer-links > .container h2{
	font-size: 16px;
	margin: 20px 0;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.footer .social-links{
	height: 100%;
	position: relative;
}
.footer .social-links > ul{
	margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 85%;
    text-align: center;
}
.footer .social-links span{
	width: 20px;
    height: 20px;
    display: inline-block;
}

@media(max-width: 1024px){
	.footer .social-links{
		text-align: center;
	}
	.footer .social-links > ul{
		margin-top: 10px;
	}
	.footer .social-links > ul li{
		display: inline-block;
	}
}