<div class="luxury-pages">
  <div class="lux-property-banner " style="background-image:url(assets/images/home_page4.jpg);">
  <div class="drag"></div>
    <div class="kendal-link"> <a href="http://www.kendal.ae">Kendal</a> </div>
    <div class="page-title">
      <h1>{{property?.property_title}}</h1>
      <h2>AED {{property?.price }}</h2>
      <div class="lux-property-tabs">
        <div class="container">
          <ul class="nav nav-pills">
            <li class="active dt"><a data-toggle="pill" href="#listingDetails"><span class="details-tab"></span>Details</a></li>
            <li class="gl"><a data-toggle="pill" href="#listingImages"><span class="images-tab"></span>Images</a></li>
            <li><a data-toggle="modal" href="#Enquire" data-target="#Enquire"><span class="enquire-tab"></span>Enquire</a></li>
            <li><a data-toggle="pill" href="#E-Brochure"><span class="ebrochure-tab"></span>E-Brochure</a></li>
            <li><a data-toggle="modal" href="#Share" data-target="#Share"><span class="share-tab"></span>Share</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="lux-property-details">
    <div class="container-fluid">
      <div class="tab-content"> 
        
        <!-- Details Start -->
        <div id="listingDetails" class="tab-pane fade in active">
          <div class="listingDetails">
            <div class="content-top">
              <ul class="prop-details">
                <li><span class="bedrooms"></span>{{property?.bedrooms}}</li>
                <li><span class="bathrooms"></span>{{property?.no_of_bathroom}}</li>
                <li>BUA: {{property?.unit_builtup_area}} ft<sup>2</sup></li>
                <li>Plot Size: {{property?.plot_area}} ft<sup>2</sup></li>
              </ul>
              <hr>
              <div class="prop-features">
                <div class="prop-features-list">
                  <ul class="col-md-6">
                    <li><span class="col-md-6"><strong>PID:</strong> </span> <span class="col-md-6">P-4011</span></li>
                    <li><span class="col-md-6"><strong>Emirate:</strong> </span> <span class="col-md-6">{{property?.emirate}}</span></li>
                    <li><span class="col-md-6"><strong>Area:</strong> </span> <span class="col-md-6">{{property?.community}}</span></li>
                    <li><span class="col-md-6"><strong>Development:</strong> </span> <span class="col-md-6">{{property?.property_name}}</span></li>
                    <li><span class="col-md-6"><strong>Property Type:</strong> </span> <span class="col-md-6">{{property?.unit_type}}</span></li>
                  </ul>
                  <ul class="col-md-6">
                    <li><span class="col-md-6"><strong>Other Rooms:</strong> </span> <span class="col-md-6">Maid's Quarters; Family Room; Laundry; Pantry</span></li>
                    <li><span class="col-md-6"><strong>Furnished:</strong> </span> <span class="col-md-6">No</span></li>
                    <li><span class="col-md-6"><strong>View:</strong> </span> <span class="col-md-6">Community</span></li>
                    <li><span class="col-md-6"><strong>Construction Status:</strong> </span><span class="col-md-6">Complete</span></li>
                    <li><span class="col-md-6"><strong>Facilities:</strong> </span> <span class="col-md-6">Communal Swimming Pool; Tennis Court;</span></li>
                  </ul>
                </div>
                <div class="clear"></div>
                <div class="prop-description"> 
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#more-detail">Show More</button>
                  <div id="more-detail">
                    sadfsadfsadfadsfsadf
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="clear"></div>
            <div class="content-bottom">
              <div class="col-md-4 col-sm-push-0 col-md-push-8  content-left">
                <div class="">
                  <h2>Own this property for</h2>
                  <div class="content-mortgage" style="align-items:center">
                    <div class="mort-value">AED 9,794 /month</div>
                    <hr>
                    <div class="interest-rate">Interest Rate: 9.5%</div>
                    <div class="interest-period">Period: 20 Years</div>
                    <div class="change-mortgage" ><a href="#">Change Mortgage Details</a></div>
                    <div class="mortgage-icon"><a href="#" title="mortgagefinder.ae" ><img src="assets/images/mortage-finder.png" width="115" height="16" border="0" /></a></div>
                    <!-- <div class="interest-rate" style="width:70%; margin:0 auto">Unable to afford one cheque is no longer and issue with rental loans enabling you to pay a monthly instalment. <br/>
                      For more information email <a href="mailto:info@kendal.ae" >info@kendal.ae</a></div> -->
                  </div>
                </div>
                <div class="">
                  <h2>Contact</h2>
                  <div class="content-contact">
                    <div class="agent-details">
                      <table >
                        <tr>
                          <td rowspan="4" ><div class="agent-pic" ><img src="assets/images/carina-bou-ali.jpg" height="130" alt="agent" /></div></td>
                          <td ><div class="agent-name" ><a href="#">Carina Bou Ali</a></div></td>
                        </tr>
                        <tr>
                          <td ><div class="agent-number" ><a href="#">+971 12 345 6789</a></div></td>
                        </tr>
                        <tr>
                          <td ><div class="agent-email" ><a href="#">michael@kendal.ae</a></div></td>
                        </tr>
                        <tr>
                          <td ><div class="agent-view"><button>View Agent Profile</button></div></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 col-sm-pull-0 col-md-pull-4 content-right">
                <h2>Explore the Community</h2>
                <div class="content-map"><a href="map.php" class="mapFullViewLink"></a>
                  <div id="propMap">
                  </div>
                  <!-- <?php include('includes/propMap.inc.php'); ?> -->
                </div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <!-- Details End --> 
        
        <!-- Gallery Start -->
        <div id="listingImages" class="tab-pane fade">
          <div class="listingImages">
            <div class="container-fluid">
              <div class="gallery-links">
                <ul>
                  <li><a href="#floorplan" class="floorplan" data-toggle="lightbox" data-gallery="floorplanGallery"><span></span>Floor Plan</a></li>
                  <li><a href="#propSlideShow" class="slideshow"  data-toggle="modal" data-target="#propSlideShow"><span></span>Slide Show</a></li>
                </ul>
                <div class="clear"></div>
              </div>
              <div class="grid">
                <ul id="imageGallery" class="imageGallery">
                  <li class="col-sm-4">
                    <div class="gallery-effect"> <img src="assets/images/home_page4.jpg"  alt="img"  />
                      <div>
                        <table>
                          <tr>
                            <td><img src="assets/images/gallery-cross.png" width="111" height="111" alt="img"  ></td>
                          </tr>
                        </table>
                        <a href="assets/images/home_page4.jpg"   data-toggle="lightbox" data-gallery="propertyGallery" >View more</a> 
                     </div>
                    </div>
                  </li>
                  <li class="col-sm-4">
                    <div class="gallery-effect"> <img src="assets/images/home_page5.jpg" alt="img"  />
                      <div>
                        <table>
                          <tr>
                            <td><img src="assets/images/gallery-cross.png" width="111" height="111" alt="img"  ></td>
                          </tr>
                        </table>
                        <a href="assets/images/home_page5.jpg"   data-toggle="lightbox" data-gallery="propertyGallery" >View more</a> </div>
                    </div>
                  </li>
                  <li class="col-sm-4">
                    <div class="gallery-effect"> <img src="assets/images/home_page4.jpg" alt="img"  />
                      <div>
                        <table>
                          <tr>
                            <td><img src="assets/images/gallery-cross.png" width="111" height="111" alt="img"  ></td>
                          </tr>
                        </table>
                        <a href="assets/images/home_page4.jpg"   data-toggle="lightbox" data-gallery="propertyGallery">View more</a> </div>
                    </div>
                  </li>
                  <li class="col-sm-4">
                    <div class="gallery-effect"> <img src="assets/images/home_page5.jpg" alt="img"  />
                      <div>
                        <table>
                          <tr>
                            <td><img src="assets/images/gallery-cross.png" width="111" height="111" alt="img"  ></td>
                          </tr>
                        </table>
                        <a href="assets/images/home_page5.jpg"   data-toggle="lightbox" data-gallery="propertyGallery">View more</a> </div>
                    </div>
                  </li>
                  <li class="col-sm-4">
                    <div class="gallery-effect"> <img src="assets/images/home_page4.jpg" alt="img"  />
                      <div>
                        <table>
                          <tr>
                            <td><img src="assets/images/gallery-cross.png" width="111" height="111" alt="img"  ></td>
                          </tr>
                        </table>
                        <a href="assets/images/home_page4.jpg"   data-toggle="lightbox" data-gallery="propertyGallery">View more</a> </div>
                    </div>
                  </li>
                  <li class="col-sm-4">
                    <div class="gallery-effect"> <img src="assets/images/home_page5.jpg" alt="img"  />
                      <div>
                        <table>
                          <tr>
                            <td><img src="assets/images/gallery-cross.png" width="111" height="111" alt="img"  ></td>
                          </tr>
                        </table>
                        <a href="assets/images/home_page5.jpg"   data-toggle="lightbox" data-gallery="propertyGallery">View more</a> </div>
                    </div>
                  </li>
                  <li class="col-sm-4">
                    <div class="gallery-effect"> <img src="assets/images/home_page4.jpg" alt="img"  />
                      <div>
                        <table>
                          <tr>
                            <td><img src="assets/images/gallery-cross.png" width="111" height="111" alt="img"  ></td>
                          </tr>
                        </table>
                        <a href="assets/images/home_page4.jpg"   data-toggle="lightbox" data-gallery="propertyGallery">View more</a> </div>
                    </div>
                  </li>
                  <li class="col-sm-4">
                    <div class="gallery-effect"> <img src="assets/images/home_page5.jpg" alt="img"  />
                      <div>
                        <table>
                          <tr>
                            <td><img src="assets/images/gallery-cross.png" width="111" height="111" alt="img"  ></td>
                          </tr>
                        </table>
                        <a href="assets/images/home_page5.jpg"   data-toggle="lightbox" data-gallery="propertyGallery">View more</a> </div>
                    </div>
                  </li>
                  <li class="col-sm-4">
                    <div class="gallery-effect"> <img src="assets/images/home_page4.jpg" alt="img"  />
                      <div>
                        <table>
                          <tr>
                            <td><img src="assets/images/gallery-cross.png" width="111" height="111" alt="img"  ></td>
                          </tr>
                        </table>
                        <a href="assets/images/home_page4.jpg"   data-toggle="lightbox" data-gallery="propertyGallery">View more</a> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Gallery End --> 
        
        <!-- Enquire --> 
        <!-- <app-enquire></app-enquire> -->

        <!-- Share -->
        <!-- <app-share></app-share>  -->

        <!-- Slideshow Popup-->
        <div class="modal fade propertyGallerySlides ekko-lightbox" id="propSlideShow" role="dialog">
          <div class="modal-dialog"> 
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body"> 
                
                <!-- Carousel
                  ================================================== -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
                  <!-- Indicators -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active"> <img src="assets/images/home_page4.jpg" alt="img"   > </div>
                    <div class="item"> <img src="assets/images/home_page5.jpg" alt="img"  > </div>
                    <div class="item"> <img src="assets/images/home_page4.jpg" alt="img"  > </div>
                    <div class="item"> <img src="assets/images/home_page5.jpg" alt="img"  > </div>
                    <div class="item"> <img src="assets/images/home_page4.jpg" alt="img"  > </div>
                    <div class="item"> <img src="assets/images/home_page5.jpg" alt="img"  > </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
                <!-- /.carousel --> 
                
              </div>
              <div class="modal-footer"> </div>
            </div>
          </div>
        </div>
        <!-- Slideshow Popup End--> 
      </div>
    </div>
  </div>
</div>