  <div class="list"> <a href="#Details" class="detail-link">Details</a> 
    <div class="featured-tag" *ngIf="property.exclusive == 1">Exclusive Property</div>
    <img src="{{property.property_image}}"  alt="img">
    <div class="list-details">
      <h1>{{property.property_title}}</h1>
      <h2>AED {{property.price | transformPrice}}</h2>
      <ul>
        <li class="bedrooms">{{property.bedrooms}}</li>
        <li class="bathrooms">{{property.no_of_bathroom}}</li>
      </ul>
    </div>
    <div class="list_full_detail">
      <div class="list-data">
        <div class="pid">PID : {{property.property_ref_no}}</div>
        <div class="bed-bath-bua">
          <ul>
            <li>BUA</li>
            <li class="bedrooms">&nbsp;</li>
            <li class="bathrooms">&nbsp;</li>
          </ul>
          <ul>
            <li>{{property.unit_builtup_area}} ft<sup>2</sup></li>
            <li>{{property.bedrooms}}</li>
            <li>{{property.no_of_bathroom}}</li>
          </ul>
        </div>
        <div class="area-dev">
          <div>Area : {{property.community}}</div>
          <div>Development : {{property.property_name}}</div>
        </div>
        <div class="linksBtns">
          <a routerLink="/{{property.ad_type}}-For-{{property.unit_type}}/{{property.emirate}}/{{property.community | transformTitle}}/{{property.property_name | transformTitle}}/{{property.unit_reference_no}}">Details</a>
          <a #enquire data-toggle="modal" attr.property-id="{{property.property_ref_no}}" class="enquire" href="#" data-target="#Enquire">Enquire</a> </div>
          <input type="hidden" value="{{property.listing_agent}}" class="hd_agent_name">
          <input type="hidden" value="{{property.listing_agent_phone}}" class="hd_agent_phone">
          <input type="hidden" value="{{property.listing_agent_email}}" class="hd_agent_email">
          
        </div>
    </div>
  </div>
